MARC.IHE.Xds/Service References/Registry/COCT_MT960000UV05.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd" />
  <xs:include schemaLocation="COCT_MT090108UV.xsd" />
  <xs:include schemaLocation="COCT_MT090303UV01.xsd" />
  <xs:annotation>
    <xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
  </xs:annotation>
  <xs:complexType name="COCT_MT960000UV05.Author">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedPerson" nillable="true" type="COCT_MT090108UV.AssignedPerson" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute default="AUT" name="typeCode" type="ParticipationType" use="optional" />
    <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT960000UV05.Component1">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="1" maxOccurs="1" name="positionCoordinate" nillable="true" type="COCT_MT960000UV05.PositionCoordinate" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required" />
    <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional" />
    <xs:attribute default="true" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT960000UV05.Component2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="positionAccuracy" nillable="true" type="COCT_MT960000UV05.PositionAccuracy" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required" />
    <xs:attribute default="AP" name="contextControlCode" type="ContextControl" use="optional" />
    <xs:attribute default="true" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT960000UV05.Device1">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedDevice" nillable="true" type="COCT_MT090303UV01.AssignedDevice" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetDevice" use="required" />
    <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT960000UV05.Device2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedDevice" nillable="true" type="COCT_MT090303UV01.AssignedDevice" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetDevice" use="required" />
    <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT960000UV05.Position">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="activityTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="value" type="ST" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="device" nillable="true" type="COCT_MT960000UV05.Device2" />
      <xs:element minOccurs="0" maxOccurs="1" name="author" nillable="true" type="COCT_MT960000UV05.Author" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="component1" nillable="true" type="COCT_MT960000UV05.Component1" />
      <xs:element minOccurs="0" maxOccurs="1" name="component2" nillable="true" type="COCT_MT960000UV05.Component2" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassPosition" use="required" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT960000UV05.PositionAccuracy">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="value" type="CE" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="POSACC" name="classCode" type="ActClass" use="required" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT960000UV05.PositionCoordinate">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="ANY" />
      <xs:element minOccurs="0" maxOccurs="1" name="methodCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="device" nillable="true" type="COCT_MT960000UV05.Device1" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="POSCOORD" name="classCode" type="ActClass" use="required" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
</xs:schema>