MARC.IHE.Xds/Service References/Registry/COCT_MT510000UV06.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd" />
  <xs:include schemaLocation="COCT_MT050000UV01.xsd" />
  <xs:include schemaLocation="COCT_MT150000UV02.xsd" />
  <xs:include schemaLocation="COCT_MT030007UV.xsd" />
  <xs:include schemaLocation="COCT_MT810000UV.xsd" />
  <xs:include schemaLocation="COCT_MT280000UV04.xsd" />
  <xs:include schemaLocation="COCT_MT290000UV06.xsd" />
  <xs:include schemaLocation="COCT_MT490000UV04.xsd" />
  <xs:include schemaLocation="COCT_MT300000UV04.xsd" />
  <xs:include schemaLocation="COCT_MT310000UV04.xsd" />
  <xs:include schemaLocation="COCT_MT600000UV06.xsd" />
  <xs:include schemaLocation="COCT_MT740000UV04.xsd" />
  <xs:include schemaLocation="COCT_MT530000UV.xsd" />
  <xs:include schemaLocation="COCT_MT060000UV01.xsd" />
  <xs:annotation>
    <xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
  </xs:annotation>
  <xs:complexType name="COCT_MT510000UV06.Author2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="functionCode" type="CD" />
      <xs:element minOccurs="1" maxOccurs="1" name="underwriter" nillable="true" type="COCT_MT510000UV06.Underwriter" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="AUT" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.Beneficiary">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" name="memberOrganization1" nillable="true" type="COCT_MT150000UV02.Organization" />
        <xs:choice>
          <xs:element minOccurs="0" maxOccurs="1" name="memberPerson" nillable="true" type="COCT_MT030007UV.Person" />
          <xs:element minOccurs="0" maxOccurs="1" name="memberNonPersonLivingSubject" nillable="true" type="COCT_MT030007UV.NonPersonLivingSubject" />
        </xs:choice>
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="1" name="groupOrganization" nillable="true" type="COCT_MT510000UV06.Organization" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="MBR" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.Beneficiary2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="patient" nillable="true" type="COCT_MT050000UV01.Patient" />
        <xs:element minOccurs="1" maxOccurs="1" name="beneficiary" nillable="true" type="COCT_MT510000UV06.Beneficiary" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="BEN" name="typeCode" type="ParticipationType" use="required" />
    <xs:attribute name="negationInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.Benefit">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="confidentialityCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reasonCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="definition" nillable="true" type="COCT_MT510000UV06.Definition" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="precondition" nillable="true" type="COCT_MT510000UV06.Precondition" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reference" nillable="true" type="COCT_MT510000UV06.Reference" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="limitation" nillable="true" type="COCT_MT510000UV06.Limitation2" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassCareProvision" use="required" />
    <xs:attribute name="moodCode" type="ActMoodCompletionTrack" use="required" />
    <xs:attribute name="negationInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.Component">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="priorityNumber" type="INT" />
      <xs:element minOccurs="1" maxOccurs="1" name="policyOrProgram" nillable="true" type="COCT_MT510000UV06.PolicyOrProgram" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.Coverage2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="benefit" nillable="true" type="COCT_MT510000UV06.Benefit" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="COVBY" name="typeCode" type="ActRelationshipType" use="required" />
    <xs:attribute name="negationInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.CoverageCharge">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="unitQuantity" type="RTO_PQ_PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="unitPriceAmt" type="RTO_MO_PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="netAmt" type="MO" />
      <xs:element minOccurs="0" maxOccurs="1" name="factorNumber" type="REAL" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reference" nillable="true" type="COCT_MT510000UV06.Reference2" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="INVE" name="classCode" type="ActClass" use="required" />
    <xs:attribute name="moodCode" type="ActMoodCriterion" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.CoverageChargePolicy">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reasonCode" type="CE" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="POL" name="classCode" type="ActClass" use="required" />
    <xs:attribute fixed="DEF" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.CoverageDefinition">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="title" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ST" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="COV" name="classCode" type="ActClass" use="required" />
    <xs:attribute fixed="DEF" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.CoverageLimitObservation">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="value" type="CE" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassObservation" use="required" />
    <xs:attribute fixed="DEF" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.CoveragePolicy">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reasonCode" type="CE" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="POL" name="classCode" type="ActClass" use="required" />
    <xs:attribute fixed="DEF" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.CoverageRecord">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="confidentialityCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="beneficiary" nillable="true" type="COCT_MT510000UV06.Beneficiary2" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="component" nillable="true" type="COCT_MT510000UV06.Component" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="COV" name="classCode" type="ActClass" use="required" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.CoveredParty">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="addr" type="AD" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="telecom" type="TEL" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" name="coveredOrganization1" nillable="true" type="COCT_MT150000UV02.Organization" />
        <xs:choice>
          <xs:element minOccurs="0" maxOccurs="1" name="coveredPerson" nillable="true" type="COCT_MT030007UV.Person" />
          <xs:element minOccurs="0" maxOccurs="1" name="coveredNonPersonLivingSubject" nillable="true" type="COCT_MT030007UV.NonPersonLivingSubject" />
        </xs:choice>
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="1" name="underwritingOrganization" nillable="true" type="COCT_MT150000UV02.Organization" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subjectOf1" nillable="true" type="COCT_MT510000UV06.Subject" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subjectOf2" nillable="true" type="COCT_MT510000UV06.Subject3" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="part" nillable="true" type="COCT_MT510000UV06.Part" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="indirectAuthority1" nillable="true" type="COCT_MT510000UV06.IndirectAuthorithyOver" />
      <xs:element minOccurs="0" maxOccurs="1" name="indirectAuthority2" nillable="true" type="COCT_MT510000UV06.IndirectAuthorithyOver2" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassCoveredParty" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.CoveredParty2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="coveredParty" nillable="true" type="COCT_MT510000UV06.CoveredParty" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute default="COV" name="typeCode" type="ParticipationType" use="optional" />
    <xs:attribute default="true" name="negationInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.Definition">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:choice>
        <xs:choice>
          <xs:element minOccurs="1" maxOccurs="1" name="billableClinicalService1" nillable="true" type="COCT_MT290000UV06.BillableClinicalService" />
          <xs:element minOccurs="1" maxOccurs="1" name="billableClinicalProduct1" nillable="true" type="COCT_MT490000UV04.BillableClinicalProduct" />
          <xs:element minOccurs="1" maxOccurs="1" name="supplyEvent1" nillable="true" type="COCT_MT300000UV04.SupplyEvent" />
          <xs:element minOccurs="1" maxOccurs="1" name="accomodationSupplied1" nillable="true" type="COCT_MT310000UV04.AccomodationSupplied" />
          <xs:element minOccurs="1" maxOccurs="1" name="supplyEvent2" nillable="true" type="COCT_MT600000UV06.SupplyEvent" />
          <xs:element minOccurs="1" maxOccurs="1" name="oralHealthService1" nillable="true" type="COCT_MT740000UV04.OralHealthService" />
          <xs:element minOccurs="1" maxOccurs="1" name="crossReference1" nillable="true" type="COCT_MT280000UV04.CrossReference" />
        </xs:choice>
        <xs:choice>
          <xs:choice>
            <xs:element minOccurs="1" maxOccurs="1" name="observation" nillable="true" type="COCT_MT530000UV.Observation" />
            <xs:element minOccurs="1" maxOccurs="1" name="substanceAdministration" nillable="true" type="COCT_MT530000UV.SubstanceAdministration" />
            <xs:element minOccurs="1" maxOccurs="1" name="supply" nillable="true" type="COCT_MT530000UV.Supply" />
            <xs:element minOccurs="1" maxOccurs="1" name="procedure" nillable="true" type="COCT_MT530000UV.Procedure" />
            <xs:element minOccurs="1" maxOccurs="1" name="encounter" nillable="true" type="COCT_MT530000UV.Encounter" />
            <xs:element minOccurs="1" maxOccurs="1" name="act" nillable="true" type="COCT_MT530000UV.Act" />
            <xs:element minOccurs="1" maxOccurs="1" name="organizer" nillable="true" type="COCT_MT530000UV.Organizer" />
          </xs:choice>
          <xs:element minOccurs="1" maxOccurs="1" name="actReference" nillable="true" type="COCT_MT530000UV.ActReference" />
        </xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="transportation" nillable="true" type="COCT_MT060000UV01.Transportation" />
        <xs:element minOccurs="1" maxOccurs="1" name="serviceDefinition" nillable="true" type="COCT_MT510000UV06.ServiceDefinition" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="INST" name="typeCode" type="ActRelationshipType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.Definition3">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="coverageDefinition" nillable="true" type="COCT_MT510000UV06.CoverageDefinition" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="INST" name="typeCode" type="ActRelationshipType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.DirectAuthorityOver">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="underwriter" nillable="true" type="COCT_MT510000UV06.Underwriter" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="DIRAUTH" name="typeCode" type="RoleLinkType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.DirectAuthorityOver2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="payor" nillable="true" type="COCT_MT510000UV06.Payor" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="DIRAUTH" name="typeCode" type="RoleLinkType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.DirectAuthorityOver3">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="underwriter" nillable="true" type="COCT_MT510000UV06.Underwriter" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="DIRAUTH" name="typeCode" type="RoleLinkType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.DirectAuthorityOver4">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="payor" nillable="true" type="COCT_MT510000UV06.Payor" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="DIRAUTH" name="typeCode" type="RoleLinkType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.EligibilityStatusObservation">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="value" type="ED" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassObservation" use="required" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.FinancialParticipationCharge">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="unitQuantity" type="RTO_PQ_PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="unitPriceAmt" type="RTO_MO_PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="netAmt" type="MO" />
      <xs:element minOccurs="0" maxOccurs="1" name="factorNumber" type="REAL" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reference" nillable="true" type="COCT_MT510000UV06.Reference2" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="INVE" name="classCode" type="ActClass" use="required" />
    <xs:attribute name="moodCode" type="ActMoodCriterion" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.Holder">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="policyHolder" nillable="true" type="COCT_MT510000UV06.PolicyHolder" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="HLD" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.IndirectAuthorithyOver">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="responsibleParty" nillable="true" type="COCT_MT510000UV06.ResponsibleParty" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="INDAUTH" name="typeCode" type="RoleLinkType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.IndirectAuthorithyOver2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="policyHolder" nillable="true" type="COCT_MT510000UV06.PolicyHolder" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="INDAUTH" name="typeCode" type="RoleLinkType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.Limitation">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="coverageLimitObservation" nillable="true" type="COCT_MT510000UV06.CoverageLimitObservation" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="LIMIT" name="typeCode" type="ActRelationshipType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.Limitation2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="coverageCharge" nillable="true" type="COCT_MT510000UV06.CoverageCharge" />
        <xs:element minOccurs="1" maxOccurs="1" name="financialParticipationCharge" nillable="true" type="COCT_MT510000UV06.FinancialParticipationCharge" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="LIMIT" name="typeCode" type="ActRelationshipType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.Limitation3">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="policyOrProgramFinancialLimit" nillable="true" type="COCT_MT510000UV06.PolicyOrProgramFinancialLimit" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="LIMIT" name="typeCode" type="ActRelationshipType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.Organization">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="name" type="ON" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="telecom" type="TEL" />
      <xs:element minOccurs="0" maxOccurs="1" name="addr" type="AD" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassOrganization" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.Part">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="priorityNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="personalRelationship" nillable="true" type="COCT_MT510000UV06.PersonalRelationship" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PART" name="typeCode" type="RoleLinkType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.Payor">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="ON" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="addr" type="AD" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="telecom" type="TEL" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="invoicePayorOrganization" nillable="true" type="COCT_MT150000UV02.Organization" />
      <xs:element minOccurs="0" maxOccurs="1" name="underwritingOrganization" nillable="true" type="COCT_MT150000UV02.Organization" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="directAuthorityOver" nillable="true" type="COCT_MT510000UV06.DirectAuthorityOver4" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PAYOR" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.Person">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="name" type="PN" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="telecom" type="TEL" />
      <xs:element minOccurs="0" maxOccurs="1" name="birthTime" type="TS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="addr" type="AD" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PSN" name="classCode" type="EntityClass" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.PersonalRelationship">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="relationshipHolder" nillable="true" type="COCT_MT510000UV06.Person" />
      <xs:element minOccurs="0" maxOccurs="1" name="personalRelationshipWith" nillable="true" type="COCT_MT510000UV06.Person" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PRS" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.PolicyHolder">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="addr" type="AD" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="telecom" type="TEL" />
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" name="policyHolderPerson" nillable="true" type="COCT_MT510000UV06.Person" />
        <xs:element minOccurs="0" maxOccurs="1" name="policyHolderOrganization" nillable="true" type="COCT_MT510000UV06.Organization" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="1" name="underwritingOrganization" nillable="true" type="COCT_MT150000UV02.Organization" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="POLHOLD" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.PolicyOrProgram">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="confidentialityCode" type="CE" />
      <xs:element minOccurs="1" maxOccurs="1" name="coveredParty" nillable="true" type="COCT_MT510000UV06.CoveredParty2" />
      <xs:element minOccurs="0" maxOccurs="1" name="holder" nillable="true" type="COCT_MT510000UV06.Holder" />
      <xs:element minOccurs="0" maxOccurs="1" name="responsibleParty" nillable="true" type="COCT_MT510000UV06.ResponsibleParty2" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="primaryPerformer" nillable="true" type="COCT_MT510000UV06.PrimaryPerformer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="author" nillable="true" type="COCT_MT510000UV06.Author2" />
      <xs:element minOccurs="0" maxOccurs="1" name="definition" nillable="true" type="COCT_MT510000UV06.Definition3" />
      <xs:element minOccurs="0" maxOccurs="1" name="replacementOf" nillable="true" type="COCT_MT510000UV06.ReplacementOf" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="limitation1" nillable="true" type="COCT_MT510000UV06.Limitation3" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="limitation2" nillable="true" type="COCT_MT510000UV06.Limitation" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="coverageOf" nillable="true" type="COCT_MT510000UV06.Coverage2" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="COV" name="classCode" type="ActClass" use="required" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.PolicyOrProgramFinancialLimit">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="netAmt" type="MO" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="INVE" name="classCode" type="ActClass" use="required" />
    <xs:attribute fixed="DEF" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.Precondition">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:choice>
        <xs:choice>
          <xs:element minOccurs="1" maxOccurs="1" name="observation" nillable="true" type="COCT_MT530000UV.Observation" />
          <xs:element minOccurs="1" maxOccurs="1" name="substanceAdministration" nillable="true" type="COCT_MT530000UV.SubstanceAdministration" />
          <xs:element minOccurs="1" maxOccurs="1" name="supply" nillable="true" type="COCT_MT530000UV.Supply" />
          <xs:element minOccurs="1" maxOccurs="1" name="procedure" nillable="true" type="COCT_MT530000UV.Procedure" />
          <xs:element minOccurs="1" maxOccurs="1" name="encounter" nillable="true" type="COCT_MT530000UV.Encounter" />
          <xs:element minOccurs="1" maxOccurs="1" name="act" nillable="true" type="COCT_MT530000UV.Act" />
          <xs:element minOccurs="1" maxOccurs="1" name="organizer" nillable="true" type="COCT_MT530000UV.Organizer" />
        </xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="actReference" nillable="true" type="COCT_MT530000UV.ActReference" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PRCN" name="typeCode" type="ActRelationshipType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.PreviousPolicyOrProgram">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="COV" name="classCode" type="ActClass" use="required" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.PrimaryPerformer">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="functionCode" type="CD" />
      <xs:element minOccurs="1" maxOccurs="1" name="payor" nillable="true" type="COCT_MT510000UV06.Payor" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PPRF" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.Reference">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="coveragePolicy" nillable="true" type="COCT_MT510000UV06.CoveragePolicy" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="REFR" name="typeCode" type="ActRelationshipType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.Reference2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="coverageChargePolicy" nillable="true" type="COCT_MT510000UV06.CoverageChargePolicy" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="REFR" name="typeCode" type="ActRelationshipType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.ReplacementOf">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="previousPolicyOrProgram" nillable="true" type="COCT_MT510000UV06.PreviousPolicyOrProgram" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="RPLC" name="typeCode" type="ActRelationshipType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.ResponsibleParty">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="addr" type="AD" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="telecom" type="TEL" />
      <xs:element minOccurs="0" maxOccurs="1" name="agentPerson" nillable="true" type="COCT_MT510000UV06.Person" />
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" name="representedPerson" nillable="true" type="COCT_MT510000UV06.Person" />
        <xs:element minOccurs="0" maxOccurs="1" name="representedOrganization" nillable="true" type="COCT_MT510000UV06.Organization" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassAgent" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.ResponsibleParty2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="functionCode" type="CD" />
      <xs:element minOccurs="1" maxOccurs="1" name="sponsor" nillable="true" type="COCT_MT510000UV06.Sponsor" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="RESP" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.ServiceDefinition">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassRoot" use="required" />
    <xs:attribute fixed="DEF" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.Sponsor">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="ON" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="addr" type="AD" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="telecom" type="TEL" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="sponsorOrganization" nillable="true" type="COCT_MT150000UV02.Organization" />
      <xs:element minOccurs="0" maxOccurs="1" name="underwritingOrganization" nillable="true" type="COCT_MT150000UV02.Organization" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="directAuthorityOver" nillable="true" type="COCT_MT510000UV06.DirectAuthorityOver3" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="SPNSR" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.Subject">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="eligibilityStatusObservation" nillable="true" type="COCT_MT510000UV06.EligibilityStatusObservation" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.Subject3">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="verification" nillable="true" type="COCT_MT810000UV.Verification" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT510000UV06.Underwriter">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="ON" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="addr" type="AD" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="telecom" type="TEL" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="underwritingOrganization" nillable="true" type="COCT_MT150000UV02.Organization" />
      <xs:element minOccurs="0" maxOccurs="1" name="scoperOrganization" nillable="true" type="COCT_MT150000UV02.Organization" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="directAuthorityOver1" nillable="true" type="COCT_MT510000UV06.DirectAuthorityOver2" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="directAuthorityOver2" nillable="true" type="COCT_MT510000UV06.DirectAuthorityOver" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="UNDWRT" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
</xs:schema>