MARC.IHE.Xds/Service References/Registry/COCT_MT140007UV.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd" />
  <xs:annotation>
    <xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
  </xs:annotation>
  <xs:complexType name="COCT_MT140007UV.Device">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="manufacturerModelName" type="SC" />
      <xs:element minOccurs="0" maxOccurs="1" name="softwareName" type="SC" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassDevice" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
</xs:schema>