MARC.IHE.Xds/Service References/Registry/COCT_MT440001UV.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd" />
  <xs:annotation>
    <xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
  </xs:annotation>
  <xs:complexType name="COCT_MT440001UV.ValuedItem">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="unitQuantity" type="RTO_PQ_PQ" />
      <xs:element minOccurs="1" maxOccurs="1" name="unitPriceAmt" type="RTO_MO_PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="netAmt" type="MO" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="INVE" name="classCode" type="ActClass" use="required" />
    <xs:attribute fixed="DEF" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
</xs:schema>