MARC.IHE.Xds/Service References/Registry/COCT_MT050000UV01.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd" />
  <xs:include schemaLocation="COCT_MT030000UV04.xsd" />
  <xs:include schemaLocation="COCT_MT150000UV02.xsd" />
  <xs:annotation>
    <xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
  </xs:annotation>
  <xs:complexType name="COCT_MT050000UV01.Patient">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="addr" type="AD" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="telecom" type="TEL" />
      <xs:element minOccurs="1" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="confidentialityCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="veryImportantPersonCode" type="CE" />
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="patientPerson" nillable="true" type="COCT_MT030000UV04.Person" />
        <xs:element minOccurs="1" maxOccurs="1" name="patientNonPersonLivingSubject" nillable="true" type="COCT_MT030000UV04.NonPersonLivingSubject" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="1" name="providerOrganization" nillable="true" type="COCT_MT150000UV02.Organization" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PAT" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
</xs:schema>