MARC.IHE.Xds/Service References/Registry/COCT_MT040008UV.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd" />
  <xs:include schemaLocation="COCT_MT150007UV.xsd" />
  <xs:include schemaLocation="COCT_MT030207UV.xsd" />
  <xs:include schemaLocation="COCT_MT140007UV.xsd" />
  <xs:annotation>
    <xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
  </xs:annotation>
  <xs:complexType name="COCT_MT040008UV.Responsible">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" name="agentOrganization" nillable="true" type="COCT_MT150007UV.Organization" />
        <xs:element minOccurs="0" maxOccurs="1" name="agentPerson" nillable="true" type="COCT_MT030207UV.Person" />
        <xs:element minOccurs="0" maxOccurs="1" name="agentDevice" nillable="true" type="COCT_MT140007UV.Device" />
      </xs:choice>
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" name="representedOrganization" nillable="true" type="COCT_MT150007UV.Organization" />
        <xs:element minOccurs="0" maxOccurs="1" name="representedPerson" nillable="true" type="COCT_MT030207UV.Person" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute default="AGNT" name="classCode" type="RoleClassAgent" use="optional" />
  </xs:complexType>
</xs:schema>