MARC.IHE.Xds/Service References/Registry/COCT_MT230100UV.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd" />
  <xs:include schemaLocation="COCT_MT440001UV.xsd" />
  <xs:annotation>
    <xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
  </xs:annotation>
  <xs:complexType name="COCT_MT230100UV.Agency">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="ON" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PUB" name="classCode" type="EntityClass" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.Approval">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="holder" nillable="true" type="COCT_MT230100UV.Holder" />
      <xs:element minOccurs="1" maxOccurs="1" name="author" type="COCT_MT230100UV.Author" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassContract" use="required" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.Author">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="territorialAuthority" type="COCT_MT230100UV.TerritorialAuthority" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="AUT" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.Characteristic">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="value" type="ANY" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassObservation" use="required" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.Content">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="quantity" type="RTO_QTY_QTY" />
      <xs:element minOccurs="1" maxOccurs="1" name="containerPackagedMedicine" type="COCT_MT230100UV.PackagedMedicine" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subjectOf1" nillable="true" type="COCT_MT230100UV.Subject14" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subjectOf2" nillable="true" type="COCT_MT230100UV.Subject11" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="CONT" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.Country">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="TN" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassState" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.DistributedProduct">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="distributingManufacturer" type="COCT_MT230100UV.Manufacturer" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassDistributedMaterial" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.Holder">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="role" nillable="true" type="COCT_MT230100UV.Role" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="HLD" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.Ingredient">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="quantity" type="RTO_QTY_QTY" />
      <xs:element minOccurs="0" maxOccurs="1" name="ingredient" nillable="true" type="COCT_MT230100UV.Substance" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassIngredientEntity" use="required" />
    <xs:attribute default="false" name="negationInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.ManufacturedProduct">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="manufacturer" type="COCT_MT230100UV.Manufacturer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subjectOf1" nillable="true" type="COCT_MT230100UV.Subject25" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subjectOf2" nillable="true" type="COCT_MT230100UV.Subject15" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subjectOf3" nillable="true" type="COCT_MT230100UV.Subject16" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.Manufacturer">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="EN" />
      <xs:element minOccurs="0" maxOccurs="1" name="telecom" type="TEL" />
      <xs:element minOccurs="0" maxOccurs="1" name="addr" type="AD" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asRelatedManufacturer" nillable="true" type="COCT_MT230100UV.RelatedManufacturer" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassOrganization" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.Medication">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="administerableMedicine" type="COCT_MT230100UV.Medicine" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subjectOf1" nillable="true" type="COCT_MT230100UV.Subject2" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subjectOf2" nillable="true" type="COCT_MT230100UV.Subject1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subjectOf3" nillable="true" type="COCT_MT230100UV.Subject22" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subjectOf4" nillable="true" type="COCT_MT230100UV.Subject3" />
      <xs:element minOccurs="0" maxOccurs="1" name="subjectOf5" nillable="true" type="COCT_MT230100UV.Subject7" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="ADMM" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.Medicine">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="TN" />
      <xs:element minOccurs="0" maxOccurs="1" name="desc" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="riskCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="handlingCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="formCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="lotNumberText" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="expirationTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="stabilityTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asDistributedProduct" nillable="true" type="COCT_MT230100UV.DistributedProduct" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asMedicineManufacturer" nillable="true" type="COCT_MT230100UV.MedicineManufacturer" />
      <xs:element minOccurs="0" maxOccurs="1" name="asContent" nillable="true" type="COCT_MT230100UV.Content" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asSpecializedKind" nillable="true" type="COCT_MT230100UV.SpecializedKind" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="part" nillable="true" type="COCT_MT230100UV.Part" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ingredient" nillable="true" type="COCT_MT230100UV.Ingredient" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required" />
    <xs:attribute name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.MedicineClass">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="TN" />
      <xs:element minOccurs="0" maxOccurs="1" name="desc" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="formCode" type="CE" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required" />
    <xs:attribute fixed="KIND" name="determinerCode" type="EntityDeterminerDetermined" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.MedicineManufacturer">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="manufacturer" nillable="true" type="COCT_MT230100UV.Manufacturer" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.ObservationGoal">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="value" type="ANY" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassObservation" use="required" />
    <xs:attribute fixed="GOL" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.PackagedMedicine">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="TN" />
      <xs:element minOccurs="0" maxOccurs="1" name="formCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="lotNumberText" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="capacityQuantity" type="PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="capTypeCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asManufacturedProduct" nillable="true" type="COCT_MT230100UV.ManufacturedProduct" />
      <xs:element minOccurs="0" maxOccurs="1" name="asSuperContent" nillable="true" type="COCT_MT230100UV.SuperContent" />
      <xs:element minOccurs="0" maxOccurs="1" name="subContent" nillable="true" type="COCT_MT230100UV.SubContent" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassContainer" use="required" />
    <xs:attribute name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.Part">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="quantity" type="RTO_QTY_QTY" />
      <xs:element minOccurs="1" maxOccurs="1" name="partMedicine" type="COCT_MT230100UV.Medicine" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subjectOf" nillable="true" type="COCT_MT230100UV.Subject4" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassPartitivePartByBOT" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.Policy">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassRoot" use="required" />
    <xs:attribute fixed="DEF" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.RelatedManufacturer">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="representedManufacturer" nillable="true" type="COCT_MT230100UV.Manufacturer" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassAssignedEntity" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.Role">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="playingManufacturer" type="COCT_MT230100UV.Manufacturer" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassRoot" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.SpecializedKind">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="generalizedMedicineClass" nillable="true" type="COCT_MT230100UV.MedicineClass" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassIsSpeciesEntity" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.SubContent">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="quantity" type="RTO_QTY_QTY" />
      <xs:element minOccurs="0" maxOccurs="1" name="containedPackagedMedicine" nillable="true" type="COCT_MT230100UV.PackagedMedicine" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="CONT" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.SubIngredient">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="quantity" type="RTO_QTY_QTY" />
      <xs:element minOccurs="0" maxOccurs="1" name="ingredient" nillable="true" type="COCT_MT230100UV.Substance" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassIngredientEntity" use="required" />
    <xs:attribute default="false" name="negationInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.Subject1">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="approval" nillable="true" type="COCT_MT230100UV.Approval" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.Subject11">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="approval" nillable="true" type="COCT_MT230100UV.Approval" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.Subject14">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="policy" nillable="true" type="COCT_MT230100UV.Policy" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.Subject15">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="policy" nillable="true" type="COCT_MT230100UV.Policy" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.Subject16">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="approval" nillable="true" type="COCT_MT230100UV.Approval" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.Subject2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="policy" nillable="true" type="COCT_MT230100UV.Policy" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.Subject22">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="characteristic" nillable="true" type="COCT_MT230100UV.Characteristic" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.Subject25">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="characteristic" nillable="true" type="COCT_MT230100UV.Characteristic" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.Subject3">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="observationGoal" nillable="true" type="COCT_MT230100UV.ObservationGoal" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.Subject4">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="characteristic" nillable="true" type="COCT_MT230100UV.Characteristic" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.Subject7">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="valuedItem" nillable="true" type="COCT_MT440001UV.ValuedItem" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="SBJ" name="typeCode" type="ParticipationTargetSubject" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.Substance">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="TN" />
      <xs:element minOccurs="0" maxOccurs="1" name="desc" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="lotNumberText" type="ST" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asSubstanceManufacturer" nillable="true" type="COCT_MT230100UV.SubstanceManufacturer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subIngredient" nillable="true" type="COCT_MT230100UV.SubIngredient" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required" />
    <xs:attribute name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.SubstanceManufacturer">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="manufacturer" nillable="true" type="COCT_MT230100UV.Manufacturer" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.SuperContent">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="quantity" type="RTO_QTY_QTY" />
      <xs:element minOccurs="1" maxOccurs="1" name="containerPackagedMedicine" type="COCT_MT230100UV.PackagedMedicine" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="CONT" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT230100UV.TerritorialAuthority">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="territory" nillable="true" type="COCT_MT230100UV.Agency" />
      <xs:element minOccurs="0" maxOccurs="1" name="governingCountry" nillable="true" type="COCT_MT230100UV.Country" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="TERR" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
</xs:schema>