MARC.IHE.Xds/Service References/Registry/COCT_MT500000UV04.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd" />
  <xs:annotation>
    <xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
  </xs:annotation>
  <xs:complexType name="COCT_MT500000UV04.AccommodationCoverage">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CS" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="ACCM" name="classCode" type="ActClass" use="required" />
    <xs:attribute fixed="DEF" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT500000UV04.Author">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="carrierRole" nillable="true" type="COCT_MT500000UV04.CarrierRole" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="AUT" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT500000UV04.Beneficiary">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="1" maxOccurs="1" name="policyOrAccount" nillable="true" type="COCT_MT500000UV04.PolicyOrAccount" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="BEN" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT500000UV04.CarrierOrganization">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="TN" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassOrganization" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT500000UV04.CarrierRole">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="underwritingCarrierOrganization" nillable="true" type="COCT_MT500000UV04.CarrierOrganization" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="UNDWRT" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT500000UV04.CoveredParty">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="beneficiaryOf" nillable="true" type="COCT_MT500000UV04.Beneficiary" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassCoveredParty" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT500000UV04.EmployerOrganization">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="ON" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassOrganization" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT500000UV04.Employment">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="employerOrganization" nillable="true" type="COCT_MT500000UV04.EmployerOrganization" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassEmployee" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT500000UV04.Holder">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="policyHolder" nillable="true" type="COCT_MT500000UV04.PolicyHolder" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="HLD" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT500000UV04.Limitation">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="accommodationCoverage" nillable="true" type="COCT_MT500000UV04.AccommodationCoverage" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="LIMIT" name="typeCode" type="ActRelationshipType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT500000UV04.PolicyHolder">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="II" />
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="policyHolderPerson" type="COCT_MT500000UV04.PolicyHolderPerson" />
        <xs:element minOccurs="1" maxOccurs="1" name="policyHolderOrganization" type="COCT_MT500000UV04.PolicyHolderOrganization" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="POLHOLD" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT500000UV04.PolicyHolderOrganization">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="TN" />
      <xs:element minOccurs="0" maxOccurs="1" name="addr" type="AD" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassOrganization" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT500000UV04.PolicyHolderPerson">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="PN" />
      <xs:element minOccurs="0" maxOccurs="1" name="birthTime" type="TS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asEmployment" nillable="true" type="COCT_MT500000UV04.Employment" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PSN" name="classCode" type="EntityClass" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT500000UV04.PolicyOrAccount">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="holder" nillable="true" type="COCT_MT500000UV04.Holder" />
      <xs:element minOccurs="1" maxOccurs="1" name="author" nillable="true" type="COCT_MT500000UV04.Author" />
      <xs:element minOccurs="0" maxOccurs="1" name="limitation" nillable="true" type="COCT_MT500000UV04.Limitation" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="COV" name="classCode" type="ActClass" use="required" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
</xs:schema>