MARC.IHE.Xds/Service References/Registry/COCT_MT290000UV06.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd" />
  <xs:include schemaLocation="COCT_MT050000UV01.xsd" />
  <xs:include schemaLocation="COCT_MT960000UV05.xsd" />
  <xs:include schemaLocation="COCT_MT240003UV02.xsd" />
  <xs:annotation>
    <xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
  </xs:annotation>
  <xs:complexType name="COCT_MT290000UV06.AdministrativeDiagnosis">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="CD" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassObservation" use="required" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.AdministrativeDiagnosisReference">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="II" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassObservation" use="required" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.AssignedEntity">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" name="assignedProviderPerson" nillable="true" type="COCT_MT290000UV06.ProviderPerson" />
        <xs:element minOccurs="0" maxOccurs="1" name="assignedNonPersonLivingSubject" nillable="true" type="COCT_MT290000UV06.NonPersonLivingSubject" />
        <xs:element minOccurs="0" maxOccurs="1" name="assignedDevice" nillable="true" type="COCT_MT290000UV06.Device2" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="indirectAuthority" nillable="true" type="COCT_MT290000UV06.IndirectAuthorithyOver" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassAssignedEntity" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.Author">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedEntity" nillable="true" type="COCT_MT290000UV06.AssignedEntity" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="AUT" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.Author1">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedEntity" nillable="true" type="COCT_MT290000UV06.AssignedEntity" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="AUT" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.Author2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="IVL_TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedEntity" nillable="true" type="COCT_MT290000UV06.AssignedEntity" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="AUT" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.BillableClinicalService">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="1" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="priorityCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="confidentialityCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="repeatNumber" type="IVL_INT" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reasonCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subject" nillable="true" type="COCT_MT290000UV06.Subject5" />
      <xs:element minOccurs="0" maxOccurs="1" name="reusableDevice" nillable="true" type="COCT_MT290000UV06.ReusableDevice" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="product" nillable="true" type="COCT_MT290000UV06.Product1" />
      <xs:element minOccurs="0" maxOccurs="1" name="responsibleParty" nillable="true" type="COCT_MT290000UV06.ResponsibleParty" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="secondaryPerformer" nillable="true" type="COCT_MT290000UV06.SecondaryPerformer" />
      <xs:element minOccurs="0" maxOccurs="1" name="performer" nillable="true" type="COCT_MT290000UV06.Performer" />
      <xs:element minOccurs="0" maxOccurs="1" name="author" nillable="true" type="COCT_MT290000UV06.Author" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="consultant" nillable="true" type="COCT_MT290000UV06.Consultant" />
      <xs:element minOccurs="0" maxOccurs="1" name="location" nillable="true" type="COCT_MT290000UV06.Location" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inFulfillmentOf" nillable="true" type="COCT_MT290000UV06.InFulfillmentOf" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reason1" nillable="true" type="COCT_MT290000UV06.Reason1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reason2" nillable="true" type="COCT_MT290000UV06.Reason4" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reason3" nillable="true" type="COCT_MT290000UV06.Reason3" />
      <xs:element minOccurs="0" maxOccurs="1" name="component" nillable="true" type="COCT_MT290000UV06.Component2" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subjectOf1" nillable="true" type="COCT_MT290000UV06.Subject2" />
      <xs:element minOccurs="0" maxOccurs="1" name="subjectOf2" nillable="true" type="COCT_MT290000UV06.Subject" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="componentOf" nillable="true" type="COCT_MT290000UV06.Component1" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassRoot" use="required" />
    <xs:attribute name="moodCode" type="ActMoodCompletionTrack" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.BillableModifier">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassObservation" use="required" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.Component1">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="patientEncounter" nillable="true" type="COCT_MT290000UV06.PatientEncounter" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.Component2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="specimenCollectionEvent" nillable="true" type="COCT_MT290000UV06.SpecimenCollectionEvent" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.Consultant">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedEntity" nillable="true" type="COCT_MT290000UV06.AssignedEntity" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="CON" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.Device">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="II" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassAssignedEntity" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.Device2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="manufacturerModelName" type="SC" />
      <xs:element minOccurs="0" maxOccurs="1" name="softwareName" type="SC" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassDevice" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.HealthCareProvider">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="healthCareProviderPerson" nillable="true" type="COCT_MT290000UV06.ProviderPerson" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PROV" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.InFulfillmentOf">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="serviceRequest" nillable="true" type="COCT_MT290000UV06.ServiceRequest" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ActRelationshipFulfills" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.IndirectAuthorithyOver">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="healthCareProvider" nillable="true" type="COCT_MT290000UV06.HealthCareProvider" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="INDAUTH" name="typeCode" type="RoleLinkType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.Injury">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="CE" />
      <xs:element minOccurs="1" maxOccurs="1" name="targetSiteCode" type="CD" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="origin" nillable="true" type="COCT_MT290000UV06.Origin" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassObservation" use="required" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.InjuryLocation">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="TN" />
      <xs:element minOccurs="0" maxOccurs="1" name="addr" type="AD" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="telecom" type="TEL" />
      <xs:element minOccurs="0" maxOccurs="1" name="locatedInjuryPlace" nillable="true" type="COCT_MT290000UV06.InjuryPlace" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subjectOf" nillable="true" type="COCT_MT290000UV06.Subject3" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassLocatedEntity" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.InjuryPlace">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="EN" />
      <xs:element minOccurs="0" maxOccurs="1" name="desc" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="positionText" type="ED" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="injuryLocation" nillable="true" type="COCT_MT290000UV06.InjuryLocation" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassPlace" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.Location">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="serviceDeliveryLocation" nillable="true" type="COCT_MT240003UV02.ServiceDeliveryLocation" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.Location1">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="serviceDeliveryLocation" type="COCT_MT240003UV02.ServiceDeliveryLocation" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.ManufacturedMaterial">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required" />
    <xs:attribute name="determinerCode" type="x_DeterminerInstanceKind" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.ManufacturedProduct">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="manufacturedMaterial" nillable="true" type="COCT_MT290000UV06.ManufacturedMaterial" />
      <xs:element minOccurs="0" maxOccurs="1" name="manufacturerManufacturedProductOrganization" nillable="true" type="COCT_MT290000UV06.ManufacturedProductOrganization" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.ManufacturedProductOrganization">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="ON" />
      <xs:element minOccurs="0" maxOccurs="1" name="telecom" type="TEL" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassOrganization" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.NonPersonLivingSubject">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="TN" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassNonPersonLivingSubject" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.Origin">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="injuryLocation" nillable="true" type="COCT_MT290000UV06.InjuryLocation" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="ORG" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.PatientCareProvisionRequest">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="author" nillable="true" type="COCT_MT290000UV06.Author2" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reason" nillable="true" type="COCT_MT290000UV06.Reason" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassCareProvision" use="required" />
    <xs:attribute fixed="RQO" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.PatientEncounter">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="activityTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="priorityCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="admissionReferralSourceCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="dischargeDispositionCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reason" nillable="true" type="COCT_MT290000UV06.Reason5" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="ENC" name="classCode" type="ActClass" use="required" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.Performer">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="functionCode" type="CE" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedEntity" nillable="true" type="COCT_MT290000UV06.AssignedEntity" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.PresentingIndication">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="value" type="ANY" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassObservation" use="required" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.Product1">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="manufacturedProduct" nillable="true" type="COCT_MT290000UV06.ManufacturedProduct" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PRD" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.Product2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="specimen" type="COCT_MT290000UV06.Specimen" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PRD" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.ProviderPerson">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="PN" />
      <xs:element minOccurs="0" maxOccurs="1" name="telecom" type="TEL" />
      <xs:element minOccurs="0" maxOccurs="1" name="administrativeGenderCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="birthTime" type="TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="addr" type="AD" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PSN" name="classCode" type="EntityClass" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.Reason">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="administrativeDiagnosisReference" nillable="true" type="COCT_MT290000UV06.AdministrativeDiagnosisReference" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ActRelationshipReason" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.Reason1">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="1" maxOccurs="1" name="injury" nillable="true" type="COCT_MT290000UV06.Injury" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ActRelationshipReason" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.Reason3">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="priorityNumber" type="INT" />
      <xs:element minOccurs="1" maxOccurs="1" name="administrativeDiagnosis" nillable="true" type="COCT_MT290000UV06.AdministrativeDiagnosis" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ActRelationshipReason" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.Reason4">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="1" maxOccurs="1" name="patientCareProvisionRequest" nillable="true" type="COCT_MT290000UV06.PatientCareProvisionRequest" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ActRelationshipReason" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.Reason5">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="priorityNumber" type="INT" />
      <xs:element minOccurs="1" maxOccurs="1" name="presentingIndication" nillable="true" type="COCT_MT290000UV06.PresentingIndication" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ActRelationshipReason" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.ResponsibleParty">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedEntity" nillable="true" type="COCT_MT290000UV06.AssignedEntity" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="RESP" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.ReusableDevice">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="device" nillable="true" type="COCT_MT290000UV06.Device" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="RDV" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.SecondaryPerformer">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="functionCode" type="CE" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedEntity" nillable="true" type="COCT_MT290000UV06.AssignedEntity" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="SPRF" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.ServiceRequest">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="author" nillable="true" type="COCT_MT290000UV06.Author1" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassRoot" use="required" />
    <xs:attribute fixed="RQO" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.Specimen">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassSpecimen" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.SpecimenCollectionEvent">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="product" type="COCT_MT290000UV06.Product2" />
      <xs:element minOccurs="1" maxOccurs="1" name="location" type="COCT_MT290000UV06.Location1" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassProcedure" use="required" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.Subject">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="substitution" nillable="true" type="COCT_MT290000UV06.Substitution" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="SUBJ" name="typeCode" type="ActRelationshipType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.Subject2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="billableModifier" nillable="true" type="COCT_MT290000UV06.BillableModifier" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="SUBJ" name="typeCode" type="ActRelationshipType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.Subject3">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="position" nillable="true" type="COCT_MT960000UV05.Position" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.Subject5">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="patient" nillable="true" type="COCT_MT050000UV01.Patient" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required" />
    <xs:attribute name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT290000UV06.Substitution">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="SUBST" name="classCode" type="ActClass" use="required" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
</xs:schema>