MARC.IHE.Xds/Service References/Registry/COCT_MT530000UV.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd" />
  <xs:include schemaLocation="COCT_MT230100UV.xsd" />
  <xs:include schemaLocation="COCT_MT080000UV.xsd" />
  <xs:include schemaLocation="COCT_MT050000UV01.xsd" />
  <xs:include schemaLocation="COCT_MT090000UV01.xsd" />
  <xs:include schemaLocation="COCT_MT090102UV02.xsd" />
  <xs:annotation>
    <xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
  </xs:annotation>
  <xs:complexType name="COCT_MT530000UV.Act">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="availabilityTime" type="TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="priorityCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="confidentialityCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="uncertaintyCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="languageCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subject" nillable="true" type="COCT_MT530000UV.Subject2" />
      <xs:element minOccurs="0" maxOccurs="1" name="recordTarget" nillable="true" type="COCT_MT530000UV.RecordTarget" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="responsibleParty" nillable="true" type="COCT_MT530000UV.ResponsibleParty2" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="performer" nillable="true" type="COCT_MT530000UV.Performer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="author" nillable="true" type="COCT_MT530000UV.Author" />
      <xs:element minOccurs="0" maxOccurs="1" name="dataEnterer" nillable="true" type="COCT_MT530000UV.DataEnterer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="informant" nillable="true" type="COCT_MT530000UV.Informant" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="verifier" nillable="true" type="COCT_MT530000UV.Verifier" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="location" nillable="true" type="COCT_MT530000UV.Location" />
      <xs:element minOccurs="0" maxOccurs="1" name="definition" nillable="true" type="COCT_MT530000UV.Definition" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="conditions" nillable="true" type="COCT_MT530000UV.Conditions" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sourceOf1" nillable="true" type="COCT_MT530000UV.SourceOf1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sourceOf2" nillable="true" type="COCT_MT530000UV.SourceOf3" />
      <xs:element minOccurs="0" maxOccurs="1" name="subjectOf" nillable="true" type="COCT_MT530000UV.Subject1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="targetOf" nillable="true" type="COCT_MT530000UV.SourceOf2" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassRoot" use="required" />
    <xs:attribute name="moodCode" type="x_ClinicalStatementActMood" use="required" />
    <xs:attribute name="negationInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.ActDefinition">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassRoot" use="required" />
    <xs:attribute fixed="DEF" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.ActReference">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="II" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassRoot" use="required" />
    <xs:attribute name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.AdministerableMaterial">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="administerableMaterialKind" type="COCT_MT530000UV.MaterialKind" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="ADMM" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Animal">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="quantity" type="PQ" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="EN" />
      <xs:element minOccurs="0" maxOccurs="1" name="desc" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="administrativeGenderCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="birthTime" type="TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="strainText" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="genderStatusCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asRole" nillable="true" type="COCT_MT530000UV.Role" />
      <xs:element minOccurs="0" maxOccurs="1" name="birthplace" nillable="true" type="COCT_MT530000UV.Birthplace" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="ANM" name="classCode" type="EntityClass" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Author">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="noteText" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="modeCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="signatureCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="signatureText" type="ED" />
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="relatedEntity" nillable="true" type="COCT_MT530000UV.RelatedEntity" />
        <xs:element minOccurs="1" maxOccurs="1" name="patient" nillable="true" type="COCT_MT050000UV01.Patient" />
        <xs:element minOccurs="1" maxOccurs="1" name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="AUT" name="typeCode" type="ParticipationType" use="required" />
    <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Birthplace">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="birthplace" nillable="true" type="COCT_MT530000UV.Place" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="BIRTHPL" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Component">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="seperatableInd" type="BL" />
      <xs:choice>
        <xs:choice>
          <xs:element minOccurs="1" maxOccurs="1" name="observation" nillable="true" type="COCT_MT530000UV.Observation" />
          <xs:element minOccurs="1" maxOccurs="1" name="substanceAdministration" nillable="true" type="COCT_MT530000UV.SubstanceAdministration" />
          <xs:element minOccurs="1" maxOccurs="1" name="supply" nillable="true" type="COCT_MT530000UV.Supply" />
          <xs:element minOccurs="1" maxOccurs="1" name="procedure" nillable="true" type="COCT_MT530000UV.Procedure" />
          <xs:element minOccurs="1" maxOccurs="1" name="encounter" nillable="true" type="COCT_MT530000UV.Encounter" />
          <xs:element minOccurs="1" maxOccurs="1" name="act" nillable="true" type="COCT_MT530000UV.Act" />
          <xs:element minOccurs="1" maxOccurs="1" name="organizer" nillable="true" type="COCT_MT530000UV.Organizer" />
        </xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="actReference" nillable="true" type="COCT_MT530000UV.ActReference" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required" />
    <xs:attribute name="contextControlCode" type="ContextControl" use="optional" />
    <xs:attribute default="true" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Conditions">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="conjunctionCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="seperatableInd" type="BL" />
      <xs:element minOccurs="1" maxOccurs="1" name="criterion" nillable="true" type="COCT_MT530000UV.Criterion" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ActRelationshipConditional" use="required" />
    <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional" />
    <xs:attribute default="false" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Consumable">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="administerableMaterial" nillable="true" type="COCT_MT530000UV.AdministerableMaterial" />
        <xs:element minOccurs="1" maxOccurs="1" name="medication" nillable="true" type="COCT_MT230100UV.Medication" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="CSM" name="typeCode" type="ParticipationType" use="required" />
    <xs:attribute name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.ControlActEvent">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="1" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="1" maxOccurs="1" name="effectiveTime" type="TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="reasonCode" type="CV" />
      <xs:element minOccurs="0" maxOccurs="1" name="responsibleParty" nillable="true" type="COCT_MT530000UV.ResponsibleParty1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="author" nillable="true" type="COCT_MT530000UV.Author" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="CACT" name="classCode" type="ActClassControlAct" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Criterion">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="ANY" />
      <xs:element minOccurs="1" maxOccurs="1" name="interpretationCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="precondition" nillable="true" type="COCT_MT530000UV.Precondition2" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassObservation" use="required" />
    <xs:attribute fixed="EVN.CRT" name="moodCode" type="ActMood" use="required" />
    <xs:attribute default="false" name="negationInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.DataEnterer">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="modeCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="signatureCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="signatureText" type="ED" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="ENT" name="typeCode" type="ParticipationType" use="required" />
    <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Definition">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="actDefinition" nillable="true" type="COCT_MT530000UV.ActDefinition" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="INST" name="typeCode" type="ActRelationshipType" use="required" />
    <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional" />
    <xs:attribute default="false" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Device">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="manufacturedProduct" nillable="true" type="COCT_MT530000UV.ManufacturedProduct" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetDevice" use="required" />
    <xs:attribute name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Encounter">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="effectiveTime" type="SXCM_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="availabilityTime" type="TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="priorityCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="confidentialityCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="admissionReferralSourceCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="lengthOfStayQuantity" type="PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="dischargeDispositionCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="preAdmitTestInd" type="BL" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="specialCourtesiesCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="specialArrangementCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subject" nillable="true" type="COCT_MT530000UV.Subject2" />
      <xs:element minOccurs="0" maxOccurs="1" name="recordTarget" nillable="true" type="COCT_MT530000UV.RecordTarget" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="responsibleParty" nillable="true" type="COCT_MT530000UV.ResponsibleParty2" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="performer" nillable="true" type="COCT_MT530000UV.Performer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="author" nillable="true" type="COCT_MT530000UV.Author" />
      <xs:element minOccurs="0" maxOccurs="1" name="dataEnterer" nillable="true" type="COCT_MT530000UV.DataEnterer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="informant" nillable="true" type="COCT_MT530000UV.Informant" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="verifier" nillable="true" type="COCT_MT530000UV.Verifier" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="location" nillable="true" type="COCT_MT530000UV.Location" />
      <xs:element minOccurs="0" maxOccurs="1" name="definition" nillable="true" type="COCT_MT530000UV.Definition" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="conditions" nillable="true" type="COCT_MT530000UV.Conditions" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sourceOf1" nillable="true" type="COCT_MT530000UV.SourceOf1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sourceOf2" nillable="true" type="COCT_MT530000UV.SourceOf3" />
      <xs:element minOccurs="0" maxOccurs="1" name="subjectOf" nillable="true" type="COCT_MT530000UV.Subject1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="targetOf" nillable="true" type="COCT_MT530000UV.SourceOf2" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="ENC" name="classCode" type="ActClass" use="required" />
    <xs:attribute name="moodCode" type="x_ClinicalStatementEncounterMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Entity">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="quantity" type="PQ" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="EN" />
      <xs:element minOccurs="0" maxOccurs="1" name="desc" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="riskCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="handlingCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asRole" nillable="true" type="COCT_MT530000UV.Role" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassRoot" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.HealthCareFacility">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="location" nillable="true" type="COCT_MT530000UV.Place" />
      <xs:element minOccurs="0" maxOccurs="1" name="serviceProviderOrganization" nillable="true" type="COCT_MT530000UV.Organization" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassServiceDeliveryLocation" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Informant">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="functionCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="modeCode" type="CE" />
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="relatedEntity" nillable="true" type="COCT_MT530000UV.RelatedEntity" />
        <xs:element minOccurs="1" maxOccurs="1" name="patient" nillable="true" type="COCT_MT050000UV01.Patient" />
        <xs:element minOccurs="1" maxOccurs="1" name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="INF" name="typeCode" type="ParticipationType" use="required" />
    <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.LabeledDrug">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="EN" />
      <xs:element minOccurs="0" maxOccurs="1" name="expirationTime" type="IVL_TS" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required" />
    <xs:attribute name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Location">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="healthCareFacility" nillable="true" type="COCT_MT530000UV.HealthCareFacility" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required" />
    <xs:attribute name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.ManufacturedProduct">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="manufacturedLabeledDrug" nillable="true" type="COCT_MT530000UV.LabeledDrug" />
        <xs:element minOccurs="1" maxOccurs="1" name="manufacturedMaterial" nillable="true" type="COCT_MT530000UV.Material" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="1" name="manufacturerOrganization" nillable="true" type="COCT_MT530000UV.Organization" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Material">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="EN" />
      <xs:element minOccurs="0" maxOccurs="1" name="lotNumberText" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="expirationTime" type="IVL_TS" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required" />
    <xs:attribute name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.MaterialKind">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="desc" type="ST" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="materialPart" nillable="true" type="COCT_MT530000UV.MaterialPart" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassMaterial" use="required" />
    <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.MaterialKind2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CV" />
      <xs:element minOccurs="0" maxOccurs="1" name="desc" type="ST" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassMaterial" use="required" />
    <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.MaterialPart">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="partMaterialKind" type="COCT_MT530000UV.MaterialKind2" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassPartitive" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Observation">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="derivationExpr" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="effectiveTime" type="SXCM_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="availabilityTime" type="TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="priorityCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="confidentialityCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="repeatNumber" type="IVL_INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="uncertaintyCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="languageCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="value" type="ANY" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="interpretationCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="methodCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="targetSiteCode" type="CD" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subject" nillable="true" type="COCT_MT530000UV.Subject2" />
      <xs:element minOccurs="0" maxOccurs="1" name="recordTarget" nillable="true" type="COCT_MT530000UV.RecordTarget" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="responsibleParty" nillable="true" type="COCT_MT530000UV.ResponsibleParty2" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="performer" nillable="true" type="COCT_MT530000UV.Performer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="author" nillable="true" type="COCT_MT530000UV.Author" />
      <xs:element minOccurs="0" maxOccurs="1" name="dataEnterer" nillable="true" type="COCT_MT530000UV.DataEnterer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="informant" nillable="true" type="COCT_MT530000UV.Informant" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="verifier" nillable="true" type="COCT_MT530000UV.Verifier" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="location" nillable="true" type="COCT_MT530000UV.Location" />
      <xs:element minOccurs="0" maxOccurs="1" name="definition" nillable="true" type="COCT_MT530000UV.Definition" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="conditions" nillable="true" type="COCT_MT530000UV.Conditions" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="referenceRange" nillable="true" type="COCT_MT530000UV.ReferenceRange" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sourceOf1" nillable="true" type="COCT_MT530000UV.SourceOf1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sourceOf2" nillable="true" type="COCT_MT530000UV.SourceOf3" />
      <xs:element minOccurs="0" maxOccurs="1" name="subjectOf" nillable="true" type="COCT_MT530000UV.Subject1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="targetOf" nillable="true" type="COCT_MT530000UV.SourceOf2" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassObservation" use="required" />
    <xs:attribute name="moodCode" type="x_ClinicalStatementObservationMood" use="required" />
    <xs:attribute name="negationInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.ObservationRange">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="ANY" />
      <xs:element minOccurs="1" maxOccurs="1" name="interpretationCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="precondition" nillable="true" type="COCT_MT530000UV.Precondition1" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassObservation" use="required" />
    <xs:attribute fixed="EVN.CRT" name="moodCode" type="ActMood" use="required" />
    <xs:attribute default="false" name="negationInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Organization">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="ON" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="telecom" type="TEL" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="addr" type="AD" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassOrganization" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Organizer">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="availabilityTime" type="TS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="priorityCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="confidentialityCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subject" nillable="true" type="COCT_MT530000UV.Subject2" />
      <xs:element minOccurs="0" maxOccurs="1" name="recordTarget" nillable="true" type="COCT_MT530000UV.RecordTarget" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="responsibleParty" nillable="true" type="COCT_MT530000UV.ResponsibleParty2" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="performer" nillable="true" type="COCT_MT530000UV.Performer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="author" nillable="true" type="COCT_MT530000UV.Author" />
      <xs:element minOccurs="0" maxOccurs="1" name="dataEnterer" nillable="true" type="COCT_MT530000UV.DataEnterer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="informant" nillable="true" type="COCT_MT530000UV.Informant" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="verifier" nillable="true" type="COCT_MT530000UV.Verifier" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="location" nillable="true" type="COCT_MT530000UV.Location" />
      <xs:element minOccurs="0" maxOccurs="1" name="definition" nillable="true" type="COCT_MT530000UV.Definition" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="conditions" nillable="true" type="COCT_MT530000UV.Conditions" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="component" nillable="true" type="COCT_MT530000UV.Component" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sourceOf1" nillable="true" type="COCT_MT530000UV.SourceOf1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sourceOf2" nillable="true" type="COCT_MT530000UV.SourceOf3" />
      <xs:element minOccurs="0" maxOccurs="1" name="subjectOf" nillable="true" type="COCT_MT530000UV.Subject1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="targetOf" nillable="true" type="COCT_MT530000UV.SourceOf2" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassContainer" use="required" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Performer">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="functionCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="modeCode" type="CE" />
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="relatedEntity" nillable="true" type="COCT_MT530000UV.RelatedEntity" />
        <xs:element minOccurs="1" maxOccurs="1" name="patient" nillable="true" type="COCT_MT050000UV01.Patient" />
        <xs:element minOccurs="1" maxOccurs="1" name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required" />
    <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Person">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="PN" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="telecom" type="TEL" />
      <xs:element minOccurs="0" maxOccurs="1" name="administrativeGenderCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="birthTime" type="TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="multipleBirthInd" type="BL" />
      <xs:element minOccurs="0" maxOccurs="1" name="multipleBirthOrderNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="maritalStatusCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="religiousAffiliationCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="raceCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="ethnicGroupCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asRole" nillable="true" type="COCT_MT530000UV.Role" />
      <xs:element minOccurs="0" maxOccurs="1" name="birthplace" nillable="true" type="COCT_MT530000UV.Birthplace" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PSN" name="classCode" type="EntityClass" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Place">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="EN" />
      <xs:element minOccurs="0" maxOccurs="1" name="addr" type="AD" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassPlace" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Precondition1">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="conjunctionCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="seperatableInd" type="BL" />
      <xs:element minOccurs="1" maxOccurs="1" name="criterion" nillable="true" type="COCT_MT530000UV.Criterion" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PRCN" name="typeCode" type="ActRelationshipType" use="required" />
    <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional" />
    <xs:attribute default="true" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Precondition2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="conjunctionCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="seperatableInd" type="BL" />
      <xs:element minOccurs="1" maxOccurs="1" name="criterion" nillable="true" type="COCT_MT530000UV.Criterion" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PRCN" name="typeCode" type="ActRelationshipType" use="required" />
    <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional" />
    <xs:attribute default="false" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Procedure">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="effectiveTime" type="SXCM_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="availabilityTime" type="TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="priorityCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="confidentialityCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="interruptibleInd" type="BL" />
      <xs:element minOccurs="0" maxOccurs="1" name="uncertaintyCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="languageCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="methodCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="approachSiteCode" type="CD" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="targetSiteCode" type="CD" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subject" nillable="true" type="COCT_MT530000UV.Subject2" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="device" nillable="true" type="COCT_MT530000UV.Device" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="product" nillable="true" type="COCT_MT530000UV.Product2" />
      <xs:element minOccurs="0" maxOccurs="1" name="recordTarget" nillable="true" type="COCT_MT530000UV.RecordTarget" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="responsibleParty" nillable="true" type="COCT_MT530000UV.ResponsibleParty2" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="performer" nillable="true" type="COCT_MT530000UV.Performer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="author" nillable="true" type="COCT_MT530000UV.Author" />
      <xs:element minOccurs="0" maxOccurs="1" name="dataEnterer" nillable="true" type="COCT_MT530000UV.DataEnterer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="informant" nillable="true" type="COCT_MT530000UV.Informant" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="verifier" nillable="true" type="COCT_MT530000UV.Verifier" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="location" nillable="true" type="COCT_MT530000UV.Location" />
      <xs:element minOccurs="0" maxOccurs="1" name="definition" nillable="true" type="COCT_MT530000UV.Definition" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="conditions" nillable="true" type="COCT_MT530000UV.Conditions" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sourceOf1" nillable="true" type="COCT_MT530000UV.SourceOf1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sourceOf2" nillable="true" type="COCT_MT530000UV.SourceOf3" />
      <xs:element minOccurs="0" maxOccurs="1" name="subjectOf" nillable="true" type="COCT_MT530000UV.Subject1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="targetOf" nillable="true" type="COCT_MT530000UV.SourceOf2" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassProcedure" use="required" />
    <xs:attribute name="moodCode" type="x_ClinicalStatementProcedureMood" use="required" />
    <xs:attribute name="negationInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Product1">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="manufacturedProduct" type="COCT_MT530000UV.ManufacturedProduct" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PRD" name="typeCode" type="ParticipationType" use="required" />
    <xs:attribute name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Product2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="1" maxOccurs="1" name="specimen" nillable="true" type="COCT_MT080000UV.Specimen" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PRD" name="typeCode" type="ParticipationType" use="required" />
    <xs:attribute name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.RecordTarget">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="patient" nillable="true" type="COCT_MT050000UV01.Patient" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="RCT" name="typeCode" type="ParticipationType" use="required" />
    <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.ReferenceRange">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="seperatableInd" type="BL" />
      <xs:element minOccurs="1" maxOccurs="1" name="observationRange" nillable="true" type="COCT_MT530000UV.ObservationRange" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="REFV" name="typeCode" type="ActRelationshipType" use="required" />
    <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional" />
    <xs:attribute default="false" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.RelatedEntity">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="addr" type="AD" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="telecom" type="TEL" />
      <xs:choice>
        <xs:choice>
          <xs:element minOccurs="0" maxOccurs="1" name="relatedPerson" nillable="true" type="COCT_MT530000UV.Person" />
          <xs:element minOccurs="0" maxOccurs="1" name="relatedAnimal" nillable="true" type="COCT_MT530000UV.Animal" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" name="relatedEntity" nillable="true" type="COCT_MT530000UV.Entity" />
      </xs:choice>
      <xs:choice>
        <xs:choice>
          <xs:element minOccurs="0" maxOccurs="1" name="scopingPerson" nillable="true" type="COCT_MT530000UV.Person" />
          <xs:element minOccurs="0" maxOccurs="1" name="scopingAnimal" nillable="true" type="COCT_MT530000UV.Animal" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" name="scopingEntity" nillable="true" type="COCT_MT530000UV.Entity" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassMutualRelationship" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.ResponsibleParty1">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedPerson" nillable="true" type="COCT_MT090102UV02.AssignedPerson" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="RESP" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.ResponsibleParty2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="RESP" name="typeCode" type="ParticipationType" use="required" />
    <xs:attribute name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Role">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="scopingOrganization" nillable="true" type="COCT_MT530000UV.Organization" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassRoot" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.SourceOf1">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="pauseQuantity" type="PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="conjunctionCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="seperatableInd" type="BL" />
      <xs:element minOccurs="1" maxOccurs="1" name="actReference" nillable="true" type="COCT_MT530000UV.ActReference" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ActRelationshipType" use="required" />
    <xs:attribute name="inversionInd" type="bl" use="optional" />
    <xs:attribute name="contextControlCode" type="ContextControl" use="optional" />
    <xs:attribute default="false" name="contextConductionInd" type="bl" use="optional" />
    <xs:attribute name="negationInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.SourceOf2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="pauseQuantity" type="PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="conjunctionCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="seperatableInd" type="BL" />
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="observation" nillable="true" type="COCT_MT530000UV.Observation" />
        <xs:element minOccurs="1" maxOccurs="1" name="substanceAdministration" nillable="true" type="COCT_MT530000UV.SubstanceAdministration" />
        <xs:element minOccurs="1" maxOccurs="1" name="supply" nillable="true" type="COCT_MT530000UV.Supply" />
        <xs:element minOccurs="1" maxOccurs="1" name="procedure" nillable="true" type="COCT_MT530000UV.Procedure" />
        <xs:element minOccurs="1" maxOccurs="1" name="encounter" nillable="true" type="COCT_MT530000UV.Encounter" />
        <xs:element minOccurs="1" maxOccurs="1" name="act" nillable="true" type="COCT_MT530000UV.Act" />
        <xs:element minOccurs="1" maxOccurs="1" name="organizer" nillable="true" type="COCT_MT530000UV.Organizer" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ActRelationshipType" use="required" />
    <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional" />
    <xs:attribute default="true" name="contextConductionInd" type="bl" use="optional" />
    <xs:attribute name="negationInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.SourceOf3">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="pauseQuantity" type="PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="conjunctionCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="seperatableInd" type="BL" />
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="observation" nillable="true" type="COCT_MT530000UV.Observation" />
        <xs:element minOccurs="1" maxOccurs="1" name="substanceAdministration" nillable="true" type="COCT_MT530000UV.SubstanceAdministration" />
        <xs:element minOccurs="1" maxOccurs="1" name="supply" nillable="true" type="COCT_MT530000UV.Supply" />
        <xs:element minOccurs="1" maxOccurs="1" name="procedure" nillable="true" type="COCT_MT530000UV.Procedure" />
        <xs:element minOccurs="1" maxOccurs="1" name="encounter" nillable="true" type="COCT_MT530000UV.Encounter" />
        <xs:element minOccurs="1" maxOccurs="1" name="act" nillable="true" type="COCT_MT530000UV.Act" />
        <xs:element minOccurs="1" maxOccurs="1" name="organizer" nillable="true" type="COCT_MT530000UV.Organizer" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ActRelationshipType" use="required" />
    <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional" />
    <xs:attribute default="true" name="contextConductionInd" type="bl" use="optional" />
    <xs:attribute name="negationInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Subject1">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="controlActEvent" nillable="true" type="COCT_MT530000UV.ControlActEvent" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="SUBJ" name="typeCode" type="ActRelationshipType" use="optional" />
    <xs:attribute name="contextControlCode" type="ContextControl" use="optional" />
    <xs:attribute default="false" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Subject2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="awarenessCode" type="CE" />
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="patient" nillable="true" type="COCT_MT050000UV01.Patient" />
        <xs:element minOccurs="1" maxOccurs="1" name="relatedEntity" nillable="true" type="COCT_MT530000UV.RelatedEntity" />
        <xs:element minOccurs="1" maxOccurs="1" name="specimen" nillable="true" type="COCT_MT080000UV.Specimen" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required" />
    <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.SubstanceAdministration">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="effectiveTime" type="SXCM_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="availabilityTime" type="TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="priorityCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="confidentialityCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="repeatNumber" type="IVL_INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="languageCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="routeCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="approachSiteCode" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="doseQuantity" type="IVL_PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="rateQuantity" type="IVL_PQ" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="doseCheckQuantity" type="RTO_QTY_QTY" />
      <xs:element minOccurs="0" maxOccurs="1" name="maxDoseQuantity" type="RTO_PQ_PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="administrationUnitCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subject" nillable="true" type="COCT_MT530000UV.Subject2" />
      <xs:element minOccurs="0" maxOccurs="1" name="consumable" nillable="true" type="COCT_MT530000UV.Consumable" />
      <xs:element minOccurs="0" maxOccurs="1" name="recordTarget" nillable="true" type="COCT_MT530000UV.RecordTarget" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="responsibleParty" nillable="true" type="COCT_MT530000UV.ResponsibleParty2" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="performer" nillable="true" type="COCT_MT530000UV.Performer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="author" nillable="true" type="COCT_MT530000UV.Author" />
      <xs:element minOccurs="0" maxOccurs="1" name="dataEnterer" nillable="true" type="COCT_MT530000UV.DataEnterer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="informant" nillable="true" type="COCT_MT530000UV.Informant" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="verifier" nillable="true" type="COCT_MT530000UV.Verifier" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="location" nillable="true" type="COCT_MT530000UV.Location" />
      <xs:element minOccurs="0" maxOccurs="1" name="definition" nillable="true" type="COCT_MT530000UV.Definition" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="conditions" nillable="true" type="COCT_MT530000UV.Conditions" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sourceOf1" nillable="true" type="COCT_MT530000UV.SourceOf1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sourceOf2" nillable="true" type="COCT_MT530000UV.SourceOf3" />
      <xs:element minOccurs="0" maxOccurs="1" name="subjectOf" nillable="true" type="COCT_MT530000UV.Subject1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="targetOf" nillable="true" type="COCT_MT530000UV.SourceOf2" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="SBADM" name="classCode" type="ActClass" use="required" />
    <xs:attribute name="moodCode" type="x_ClinicalStatementSubstanceMood" use="required" />
    <xs:attribute name="negationInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Supply">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="effectiveTime" type="SXCM_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="availabilityTime" type="TS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="priorityCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="confidentialityCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="repeatNumber" type="IVL_INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="independentInd" type="BL" />
      <xs:element minOccurs="0" maxOccurs="1" name="languageCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="quantity" type="PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="expectedUseTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subject" nillable="true" type="COCT_MT530000UV.Subject2" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="product" type="COCT_MT530000UV.Product1" />
      <xs:element minOccurs="0" maxOccurs="1" name="recordTarget" nillable="true" type="COCT_MT530000UV.RecordTarget" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="responsibleParty" nillable="true" type="COCT_MT530000UV.ResponsibleParty2" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="performer" nillable="true" type="COCT_MT530000UV.Performer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="author" nillable="true" type="COCT_MT530000UV.Author" />
      <xs:element minOccurs="0" maxOccurs="1" name="dataEnterer" nillable="true" type="COCT_MT530000UV.DataEnterer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="informant" nillable="true" type="COCT_MT530000UV.Informant" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="verifier" nillable="true" type="COCT_MT530000UV.Verifier" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="location" nillable="true" type="COCT_MT530000UV.Location" />
      <xs:element minOccurs="0" maxOccurs="1" name="definition" nillable="true" type="COCT_MT530000UV.Definition" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="conditions" nillable="true" type="COCT_MT530000UV.Conditions" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sourceOf1" nillable="true" type="COCT_MT530000UV.SourceOf1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sourceOf2" nillable="true" type="COCT_MT530000UV.SourceOf3" />
      <xs:element minOccurs="0" maxOccurs="1" name="subjectOf" nillable="true" type="COCT_MT530000UV.Subject1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="targetOf" nillable="true" type="COCT_MT530000UV.SourceOf2" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassSupply" use="required" />
    <xs:attribute name="moodCode" type="x_ClinicalStatementSupplyMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT530000UV.Verifier">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="noteText" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="modeCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="signatureCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="signatureText" type="ED" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationVerifier" use="required" />
    <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
</xs:schema>