MARC.IHE.Xds/Service References/Registry/COCT_MT490000UV04.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd" />
  <xs:include schemaLocation="COCT_MT240003UV02.xsd" />
  <xs:annotation>
    <xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
  </xs:annotation>
  <xs:complexType name="COCT_MT490000UV04.BillableClinicalProduct">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CS" />
      <xs:element minOccurs="1" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="product" type="COCT_MT490000UV04.Product" />
      <xs:element minOccurs="0" maxOccurs="1" name="referrer" nillable="true" type="COCT_MT490000UV04.Referrer" />
      <xs:element minOccurs="0" maxOccurs="1" name="consultant" nillable="true" type="COCT_MT490000UV04.Consultant" />
      <xs:element minOccurs="0" maxOccurs="1" name="origin" nillable="true" type="COCT_MT490000UV04.Origin" />
      <xs:element minOccurs="0" maxOccurs="1" name="destination" nillable="true" type="COCT_MT490000UV04.Destination" />
      <xs:element minOccurs="1" maxOccurs="1" name="location" type="COCT_MT490000UV04.Location" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pertinentInformation" nillable="true" type="COCT_MT490000UV04.PertinentInformation" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassSupply" use="required" />
    <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT490000UV04.Consultant">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="healthCareProvider" nillable="true" type="COCT_MT490000UV04.HealthCareProvider" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="CON" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT490000UV04.ContentPackagedProduct">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="quantity" type="RTO_PQ_PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="contained" nillable="true" type="COCT_MT490000UV04.ManufacturedMaterial" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="CONT" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT490000UV04.Destination">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="serviceDeliveryLocation" nillable="true" type="COCT_MT240003UV02.ServiceDeliveryLocation" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="DST" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT490000UV04.Diagnosis">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ST" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="CE" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassObservation" use="required" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT490000UV04.HealthCareProvider">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="healthCareProviderPerson" nillable="true" type="COCT_MT490000UV04.ProviderPerson" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PROV" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT490000UV04.Location">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="serviceDeliveryLocation" type="COCT_MT240003UV02.ServiceDeliveryLocation" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT490000UV04.ManufacturedMaterial">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="desc" type="ST" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asWarrantor" nillable="true" type="COCT_MT490000UV04.Warrantor" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="contentPackagedProduct" nillable="true" type="COCT_MT490000UV04.ContentPackagedProduct" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="MMAT " name="classCode" type="EntityClass" use="required" />
    <xs:attribute name="determinerCode" type="cs" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT490000UV04.ManufacturedProduct">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="1" maxOccurs="1" name="manufacturedMaterial" nillable="true" type="COCT_MT490000UV04.ManufacturedMaterial" />
      <xs:element minOccurs="0" maxOccurs="1" name="manufacturerManufacturedProductOrganization" nillable="true" type="COCT_MT490000UV04.ManufacturedProductOrganization" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT490000UV04.ManufacturedProductOrganization">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="ON" />
      <xs:element minOccurs="0" maxOccurs="1" name="telecom" type="TEL" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassOrganization" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT490000UV04.Origin">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="serviceDeliveryLocation" nillable="true" type="COCT_MT240003UV02.ServiceDeliveryLocation" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="ORG" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT490000UV04.PertinentInformation">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="1" maxOccurs="1" name="diagnosis" nillable="true" type="COCT_MT490000UV04.Diagnosis" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT490000UV04.Product">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="manufacturedProduct" type="COCT_MT490000UV04.ManufacturedProduct" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PRD" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT490000UV04.ProviderPerson">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="PN" />
      <xs:element minOccurs="0" maxOccurs="1" name="telecom" type="TEL" />
      <xs:element minOccurs="0" maxOccurs="1" name="addr" type="AD" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PSN" name="classCode" type="EntityClass" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT490000UV04.Referrer">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="healthCareProvider" nillable="true" type="COCT_MT490000UV04.HealthCareProvider" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="REF" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT490000UV04.Warrantor">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="warrantingWarrantorOrganization" nillable="true" type="COCT_MT490000UV04.WarrantorOrganization" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="WRTE" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT490000UV04.WarrantorOrganization">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="ON" />
      <xs:element minOccurs="0" maxOccurs="1" name="telecom" type="TEL" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassOrganization" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
</xs:schema>