MARC.IHE.Xds/Service References/Registry/COCT_MT740000UV04.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd" />
  <xs:include schemaLocation="COCT_MT240003UV02.xsd" />
  <xs:annotation>
    <xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
  </xs:annotation>
  <xs:complexType name="COCT_MT740000UV04.Diagnosis">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ST" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="CE" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassObservation" use="required" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT740000UV04.HealthCareProvider">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="healthCareProviderPerson" nillable="true" type="COCT_MT740000UV04.ProviderPerson" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PROV" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT740000UV04.Location">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="serviceDeliveryLocation" nillable="true" type="COCT_MT240003UV02.ServiceDeliveryLocation" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT740000UV04.OralHealthService">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="5" name="reasonCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="targetSiteCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="responsibleParty" nillable="true" type="COCT_MT740000UV04.ResponsibleParty" />
      <xs:element minOccurs="0" maxOccurs="1" name="performer" nillable="true" type="COCT_MT740000UV04.Performer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="location" nillable="true" type="COCT_MT740000UV04.Location" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pertinentInformation1" nillable="true" type="COCT_MT740000UV04.PertinentInformation1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pertinentInformation2" nillable="true" type="COCT_MT740000UV04.PertinentInformation2" />
      <xs:element minOccurs="0" maxOccurs="1" name="referencedBy" nillable="true" type="COCT_MT740000UV04.Reference" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassProcedure" use="required" />
    <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT740000UV04.OralHealthSubstanceAdministration">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reasonCode" type="CS" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="SBADM" name="classCode" type="ActClass" use="required" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT740000UV04.Performer">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="healthCareProvider" nillable="true" type="COCT_MT740000UV04.HealthCareProvider" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT740000UV04.PertinentInformation1">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="oralHealthSubstanceAdministration" nillable="true" type="COCT_MT740000UV04.OralHealthSubstanceAdministration" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT740000UV04.PertinentInformation2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="1" maxOccurs="1" name="diagnosis" nillable="true" type="COCT_MT740000UV04.Diagnosis" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT740000UV04.ProviderPerson">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="PN" />
      <xs:element minOccurs="0" maxOccurs="1" name="telecom" type="TEL" />
      <xs:element minOccurs="0" maxOccurs="1" name="addr" type="AD" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PSN" name="classCode" type="EntityClass" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT740000UV04.Reference">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="referral" nillable="true" type="COCT_MT740000UV04.Referral" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="REFR" name="typeCode" type="ActRelationshipType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT740000UV04.Referral">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="reasonCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="referrer" nillable="true" type="COCT_MT740000UV04.Referrer" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassCareProvision" use="required" />
    <xs:attribute fixed="RQO" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT740000UV04.Referrer">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="healthCareProvider" nillable="true" type="COCT_MT740000UV04.HealthCareProvider" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="REF" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT740000UV04.ResponsibleParty">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="healthCareProvider" nillable="true" type="COCT_MT740000UV04.HealthCareProvider" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="RESP" name="typeCode" type="ParticipationType" use="required" />
  </xs:complexType>
</xs:schema>