MARC.IHE.Xds/Service References/Registry/COCT_MT080000UV.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd" />
  <xs:include schemaLocation="COCT_MT150000UV02.xsd" />
  <xs:include schemaLocation="COCT_MT070000UV01.xsd" />
  <xs:include schemaLocation="COCT_MT090000UV01.xsd" />
  <xs:annotation>
    <xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
  </xs:annotation>
  <xs:complexType name="COCT_MT080000UV.ActRef">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="II" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassRoot" use="required" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Additive">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="quantity" type="PQ" />
      <xs:element minOccurs="1" maxOccurs="1" name="additive" type="COCT_MT080000UV.AdditiveMaterial" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="ADTV" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Additive2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="quantity" type="PQ" />
      <xs:element minOccurs="1" maxOccurs="1" name="additive" type="COCT_MT080000UV.AdditiveMaterial" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="ADTV" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.AdditiveMaterial">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="desc" type="ED" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassMaterial" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.AuthorOrPerformer">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="noteText" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="IVL_TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="x_ParticipationAuthorPerformer" use="required" />
    <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.AutomationSpecimenObservationEvent">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="ANY" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="SPCOBS" name="classCode" type="ActClass" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Container">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="desc" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="riskCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="handlingCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="capacityQuantity" type="PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="heightQuantity" type="PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="diameterQuantity" type="PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="capTypeCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="separatorTypeCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="barrierDeltaQuantity" type="PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="bottomDeltaQuantity" type="PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="asIdentifiedContainer" nillable="true" type="COCT_MT080000UV.IdentifiedContainer" />
      <xs:element minOccurs="0" maxOccurs="1" name="asContent" nillable="true" type="COCT_MT080000UV.Content3" />
      <xs:element minOccurs="0" maxOccurs="1" name="asLocatedEntity" nillable="true" type="COCT_MT070000UV01.LocatedEntity" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="additive" nillable="true" type="COCT_MT080000UV.Additive2" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassContainer" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Content1">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="container" type="COCT_MT080000UV.Container" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="CONT" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Content3">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="positionNumber" type="INT" />
      <xs:element minOccurs="1" maxOccurs="1" name="containerHolder" type="COCT_MT080000UV.Holder" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="CONT" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Content4">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="positionNumber" type="INT" />
      <xs:element minOccurs="1" maxOccurs="1" name="containerHolder" type="COCT_MT080000UV.Holder" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="CONT" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Criterion">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="value" type="ANY" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="interpretationCode" type="CE" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassObservation" use="required" />
    <xs:attribute fixed="EVN.CRT" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Holder">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="desc" type="ED" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asIdentifiedHolder" nillable="true" type="COCT_MT080000UV.IdentifiedHolder" />
      <xs:element minOccurs="0" maxOccurs="1" name="asContent" nillable="true" type="COCT_MT080000UV.Content4" />
      <xs:element minOccurs="0" maxOccurs="1" name="asLocatedEntity" nillable="true" type="COCT_MT070000UV01.LocatedEntity" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="HOLD" name="classCode" type="EntityClass" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.IdentifiedContainer">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="IDENT" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.IdentifiedHolder">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute default="IDENT" name="classCode" type="RoleClass" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Manufactured">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="quantity" type="PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="desc" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="riskCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="handlingCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="lotNumberText" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="expirationTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asSpecimenAlternateIdentifier" nillable="true" type="COCT_MT080000UV.SpecimenAlternateIdentifier" />
      <xs:element minOccurs="1" maxOccurs="1" name="asManufacturedProduct" nillable="true" type="COCT_MT080000UV.ManufacturedProduct" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asSpecimenStub" nillable="true" type="COCT_MT080000UV.SpecimenStub" />
      <xs:element minOccurs="0" maxOccurs="1" name="asContent" nillable="true" type="COCT_MT080000UV.Content1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="additive" nillable="true" type="COCT_MT080000UV.Additive" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.ManufacturedProduct">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="manufacturerOrganization" type="COCT_MT150000UV02.Organization" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Natural">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="quantity" type="PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="desc" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="riskCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="handlingCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asSpecimenAlternateIdentifier" nillable="true" type="COCT_MT080000UV.SpecimenAlternateIdentifier" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asSpecimenStub" nillable="true" type="COCT_MT080000UV.SpecimenStub" />
      <xs:element minOccurs="0" maxOccurs="1" name="asContent" nillable="true" type="COCT_MT080000UV.Content1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="additive" nillable="true" type="COCT_MT080000UV.Additive" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassRoot" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.NonPersonLivingSubject">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="quantity" type="PQ" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="EN" />
      <xs:element minOccurs="0" maxOccurs="1" name="desc" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="existenceTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="telecom" type="TEL" />
      <xs:element minOccurs="0" maxOccurs="1" name="riskCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="handlingCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="administrativeGenderCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="birthTime" type="TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="deceasedInd" type="BL" />
      <xs:element minOccurs="0" maxOccurs="1" name="deceasedTime" type="TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="multipleBirthInd" type="BL" />
      <xs:element minOccurs="0" maxOccurs="1" name="multipleBirthOrderNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="organDonorInd" type="BL" />
      <xs:element minOccurs="0" maxOccurs="1" name="strainText" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="genderStatusCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asSpecimenAlternateIdentifier" nillable="true" type="COCT_MT080000UV.SpecimenAlternateIdentifier" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asSpecimenStub" nillable="true" type="COCT_MT080000UV.SpecimenStub" />
      <xs:element minOccurs="0" maxOccurs="1" name="asContent" nillable="true" type="COCT_MT080000UV.Content1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="additive" nillable="true" type="COCT_MT080000UV.Additive" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassNonPersonLivingSubject" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Performer">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="noteText" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="IVL_TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute default="PRF" name="typeCode" type="ParticipationPhysicalPerformer" use="optional" />
    <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Person">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="quantity" type="PQ" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="EN" />
      <xs:element minOccurs="0" maxOccurs="1" name="desc" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="existenceTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="telecom" type="TEL" />
      <xs:element minOccurs="0" maxOccurs="1" name="riskCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="handlingCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="administrativeGenderCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="birthTime" type="TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="deceasedInd" type="BL" />
      <xs:element minOccurs="0" maxOccurs="1" name="deceasedTime" type="TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="multipleBirthInd" type="BL" />
      <xs:element minOccurs="0" maxOccurs="1" name="multipleBirthOrderNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="organDonorInd" type="BL" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="addr" type="AD" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="disabilityCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="raceCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ethnicGroupCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asSpecimenAlternateIdentifier" nillable="true" type="COCT_MT080000UV.SpecimenAlternateIdentifier" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asSpecimenStub" nillable="true" type="COCT_MT080000UV.SpecimenStub" />
      <xs:element minOccurs="0" maxOccurs="1" name="asContent" nillable="true" type="COCT_MT080000UV.Content1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="additive" nillable="true" type="COCT_MT080000UV.Additive" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PSN" name="classCode" type="EntityClass" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Precondition">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="priorityNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="conjunctionCode" type="CS" />
      <xs:element minOccurs="1" maxOccurs="1" name="criterion" nillable="true" type="COCT_MT080000UV.Criterion" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PRCN" name="typeCode" type="ActRelationshipType" use="required" />
    <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional" />
    <xs:attribute default="false" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Process">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="effectiveTime" type="SXCM_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="approachSiteCode" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="targetSiteCode" type="CD" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="performer" nillable="true" type="COCT_MT080000UV.Performer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="precondition" nillable="true" type="COCT_MT080000UV.Precondition" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassProcedure" use="required" />
    <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.ProcessStep">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subject1" nillable="true" type="COCT_MT080000UV.Subject1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subject2" nillable="true" type="COCT_MT080000UV.Subject2" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="authorOrPerformer" nillable="true" type="COCT_MT080000UV.AuthorOrPerformer" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="x_LabProcessClassCodes" use="required" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Product">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="IVL_TS" />
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="process" nillable="true" type="COCT_MT080000UV.Process" />
        <xs:element minOccurs="1" maxOccurs="1" name="actRef" nillable="true" type="COCT_MT080000UV.ActRef" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PRD" name="typeCode" type="ParticipationType" use="required" />
    <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Specimen">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CE" />
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="specimenNatural" type="COCT_MT080000UV.Natural" />
        <xs:element minOccurs="1" maxOccurs="1" name="specimenManufactured" type="COCT_MT080000UV.Manufactured" />
        <xs:element minOccurs="1" maxOccurs="1" name="specimenNonPersonLivingSubject" type="COCT_MT080000UV.NonPersonLivingSubject" />
        <xs:element minOccurs="1" maxOccurs="1" name="specimenPerson" type="COCT_MT080000UV.Person" />
      </xs:choice>
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" name="sourceNatural" nillable="true" type="COCT_MT080000UV.Natural" />
        <xs:element minOccurs="0" maxOccurs="1" name="sourceManufactured" nillable="true" type="COCT_MT080000UV.Manufactured" />
        <xs:element minOccurs="0" maxOccurs="1" name="sourceNonPersonLivingSubject" nillable="true" type="COCT_MT080000UV.NonPersonLivingSubject" />
        <xs:element minOccurs="0" maxOccurs="1" name="sourcePerson" nillable="true" type="COCT_MT080000UV.Person" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subjectOf1" nillable="true" type="COCT_MT080000UV.Subject4" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subjectOf2" nillable="true" type="COCT_MT080000UV.Subject3" />
      <xs:element minOccurs="0" maxOccurs="1" name="productOf" nillable="true" type="COCT_MT080000UV.Product" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassSpecimen" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.SpecimenAlternateIdentifier">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="assigningOrganization" nillable="true" type="COCT_MT150000UV02.Organization" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="IDENT" name="classCode" type="RoleClass" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.SpecimenObservationEvent">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="ANY" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="OBS" name="classCode" type="ActClassObservation" use="optional" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.SpecimenStub">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="II" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassSpecimen" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Subject1">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="IVL_TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="identifiedContainer" nillable="true" type="COCT_MT080000UV.IdentifiedContainer" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required" />
    <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Subject2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="IVL_TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="identifiedHolder" nillable="true" type="COCT_MT080000UV.IdentifiedHolder" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute default="SBJ" name="typeCode" type="ParticipationTargetSubject" use="optional" />
    <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Subject3">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="IVL_TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="processStep" nillable="true" type="COCT_MT080000UV.ProcessStep" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required" />
    <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Subject4">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="IVL_TS" />
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="specimenObservationEvent" nillable="true" type="COCT_MT080000UV.SpecimenObservationEvent" />
        <xs:element minOccurs="1" maxOccurs="1" name="automationSpecimenObservationEvent" nillable="true" type="COCT_MT080000UV.AutomationSpecimenObservationEvent" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required" />
    <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
</xs:schema>