MARC.IHE.Xds/Service References/Registry/COCT_MT710000UV01.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd" />
  <xs:annotation>
    <xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
  </xs:annotation>
  <xs:complexType name="COCT_MT710000UV01.LocatedEntityHasParts">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="locatedPlace" nillable="true" type="COCT_MT710000UV01.Place" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassLocatedEntity" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT710000UV01.LocatedEntityPartOf">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="location" nillable="true" type="COCT_MT710000UV01.Place" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassLocatedEntity" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT710000UV01.Place">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="EN" />
      <xs:element minOccurs="0" maxOccurs="1" name="desc" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="directionsText" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="positionText" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="gpsText" type="ST" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asLocatedEntityPartOf" nillable="true" type="COCT_MT710000UV01.LocatedEntityPartOf" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="locatedEntityHasParts" nillable="true" type="COCT_MT710000UV01.LocatedEntityHasParts" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassPlace" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
</xs:schema>