MARC.IHE.Xds/Service References/Registry/COCT_MT030207UV.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd" />
  <xs:annotation>
    <xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
  </xs:annotation>
  <xs:complexType name="COCT_MT030207UV.LanguageCommunication">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="languageCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="modeCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="proficiencyLevelCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="preferenceInd" type="BL" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT030207UV.Person">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="name" type="PN" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="telecom" type="TEL" />
      <xs:element minOccurs="0" maxOccurs="1" name="administrativeGenderCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="birthTime" type="TS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="addr" type="AD" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="languageCommunication" nillable="true" type="COCT_MT030207UV.LanguageCommunication" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="PSN" name="classCode" type="EntityClass" use="optional" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="optional" />
  </xs:complexType>
</xs:schema>