MARC.IHE.Xds/Service References/Registry/DocumentRegistry.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ihe="urn:ihe:iti:xds-b:2007" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:hl7="urn:hl7-org:v3" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:query="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" xmlns="http://schemas.xmlsoap.org/wsdl/" name="DocumentRegistry" targetNamespace="urn:ihe:iti:xds-b:2007" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <documentation>IHE XDS.b Document Registry</documentation>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
      <xsd:include schemaLocation="../schema/HL7V3/NE2008/multicacheschemas/PRPA_IN201301UV02.xsd" />
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
      <xsd:include schemaLocation="../schema/HL7V3/NE2008/multicacheschemas/PRPA_IN201302UV02.xsd" />
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
      <xsd:include schemaLocation="../schema/HL7V3/NE2008/multicacheschemas/PRPA_IN201304UV02.xsd" />
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
      <xsd:include schemaLocation="../schema/HL7V3/NE2008/multicacheschemas/MCCI_IN000002UV01.xsd" />
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0">
      <xsd:include schemaLocation="../schema/ebRS/query.xsd" />
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0">
      <xsd:include schemaLocation="../schema/ebRS/rs.xsd" />
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0">
      <xsd:include schemaLocation="../schema/ebRS/lcm.xsd" />
    </xsd:schema>
    <xsd:schema xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0">
      <xsd:include schemaLocation="../schema/ebRS/rim.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RegistryStoredQuery_Message">
    <documentation>Registry Stored Query</documentation>
    <wsdl:part name="body" element="query:AdhocQueryRequest" />
  </wsdl:message>
  <wsdl:message name="RegistryStoredQueryResponse_Message">
    <documentation>Registry Stored Query Response</documentation>
    <wsdl:part name="body" element="query:AdhocQueryResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterDocumentSet-b_Message">
    <documentation>Register Document Set - b</documentation>
    <wsdl:part name="body" element="lcm:SubmitObjectsRequest" />
  </wsdl:message>
  <wsdl:message name="RegisterDocumentSet-bResponse_Message">
    <documentation>Register Document Set - b Response</documentation>
    <wsdl:part name="body" element="rs:RegistryResponse" />
  </wsdl:message>
  <wsdl:message name="PRPA_IN201301UV02_Message">
    <wsdl:part name="body" element="hl7:PRPA_IN201301UV02" />
  </wsdl:message>
  <wsdl:message name="PRPA_IN201302UV02_Message">
    <wsdl:part name="body" element="hl7:PRPA_IN201302UV02" />
  </wsdl:message>
  <wsdl:message name="PRPA_IN201304UV02_Message">
    <wsdl:part name="body" element="hl7:PRPA_IN201304UV02" />
  </wsdl:message>
  <wsdl:message name="MCCI_IN000002UV01_Message">
    <wsdl:part name="body" element="hl7:MCCI_IN000002UV01" />
  </wsdl:message>
  <wsdl:portType name="DocumentRegistry_PortType">
    <wsdl:operation name="DocumentRegistry_RegisterDocumentSet-b">
      <wsdl:input wsaw:Action="urn:ihe:iti:2007:RegisterDocumentSet-b" message="ihe:RegisterDocumentSet-b_Message" />
      <wsdl:output wsaw:Action="urn:ihe:iti:2007:RegisterDocumentSet-bResponse" message="ihe:RegisterDocumentSet-bResponse_Message" />
    </wsdl:operation>
    <wsdl:operation name="DocumentRegistry_RegistryStoredQuery">
      <wsdl:input wsaw:Action="urn:ihe:iti:2007:RegistryStoredQuery" message="ihe:RegistryStoredQuery_Message" />
      <wsdl:output wsaw:Action="urn:ihe:iti:2007:RegistryStoredQueryResponse" message="ihe:RegistryStoredQueryResponse_Message" />
    </wsdl:operation>
    <wsdl:operation name="DocumentRegistry_PRPA_IN201301UV02">
      <wsdl:input wsaw:Action="urn:hl7-org:v3:PRPA_IN201301UV02" message="ihe:PRPA_IN201301UV02_Message" />
      <wsdl:output wsaw:Action="urn:hl7-org:v3:MCCI_IN000002UV01" message="ihe:MCCI_IN000002UV01_Message" />
    </wsdl:operation>
    <wsdl:operation name="DocumentRegistry_PRPA_IN201302UV02">
      <wsdl:input wsaw:Action="urn:hl7-org:v3:PRPA_IN201302UV02" message="ihe:PRPA_IN201302UV02_Message" />
      <wsdl:output wsaw:Action="urn:hl7-org:v3:MCCI_IN000002UV01" message="ihe:MCCI_IN000002UV01_Message" />
    </wsdl:operation>
    <wsdl:operation name="DocumentRegistry_PRPA_IN201304UV02">
      <wsdl:input wsaw:Action="urn:hl7-org:v3:PRPA_IN201304UV02" message="ihe:PRPA_IN201304UV02_Message" />
      <wsdl:output wsaw:Action="urn:hl7-org:v3:MCCI_IN000002UV01" message="ihe:MCCI_IN000002UV01_Message" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DocumentRegistry_Binding_Soap12" type="ihe:DocumentRegistry_PortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsaw:UsingAddressing wsdl:required="true" />
    <wsdl:operation name="DocumentRegistry_RegisterDocumentSet-b">
      <soap12:operation soapAction="urn:ihe:iti:2007:RegisterDocumentSet-b" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocumentRegistry_RegistryStoredQuery">
      <soap12:operation soapAction="urn:ihe:iti:2007:RegistryStoredQuery" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocumentRegistry_PRPA_IN201301UV02">
      <soap12:operation soapAction="urn:hl7-org:v3:PRPA_IN201301UV02" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocumentRegistry_PRPA_IN201302UV02">
      <soap12:operation soapAction="urn:hl7-org:v3:PRPA_IN201302UV02" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocumentRegistry_PRPA_IN201304UV02">
      <soap12:operation soapAction="urn:hl7-org:v3:PRPA_IN201304UV02" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentRegistry_Service">
    <wsdl:port name="DocumentRegistry_Port_Soap12" binding="ihe:DocumentRegistry_Binding_Soap12">
      <soap12:address location="http://xds.marc-hi.ca:1025/xdsservice/xdsregistry" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>