MARC.IHE.Xds/Service References/Registry/infrastructureRoot.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:mif="urn:hl7-org:v3/mif" xmlns:v3="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/voc.xsd" />
  <xs:include schemaLocation="../coreschemas/datatypes.xsd" />
  <xs:annotation xmlns="urn:hl7-org:v3">
    <xs:documentation>Source Information
     Rendered by: RoseTree 4.2.7
     Rendered on: 2008-03-22T24:01:25
This model was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 Transform: $RCSfile: RoseTreeRimToMIFStaticModel.xsl,v $ $Revision: 1.8 $ $Date: 2007/10/19 05:55:13 $
 Generated using schema builder version: 3.1.6
 RIM MIF Infrastructure Root to Schema Transform: $Id: RimInfrastructureRootToXsd.xsl,v 1.4 2007/03/20 02:48:50 wbeeler Exp $
  Static MIF to Schema Transform: $Id: StaticMifToXsd.xsl,v 1.30 2007/12/06 05:50:08 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $</xs:documentation>
  </xs:annotation>
  <xs:group name="InfrastructureRootElements">
    <xs:sequence>
      <xs:element xmlns="urn:hl7-org:v3" minOccurs="0" maxOccurs="unbounded" name="realmCode" type="v3:CS" />
      <xs:element xmlns="urn:hl7-org:v3" minOccurs="0" maxOccurs="1" name="typeId" type="v3:II" />
      <xs:element xmlns="urn:hl7-org:v3" minOccurs="0" maxOccurs="unbounded" name="templateId" type="v3:II" />
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="InfrastructureRootAttributes" />
</xs:schema>