MARC.IHE.Xds/Service References/Registry/MCCI_MT000200UV01.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd" />
  <xs:include schemaLocation="COCT_MT040203UV01.xsd" />
  <xs:annotation>
    <xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl,v 1.15 2007/10/19 05:55:13 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.5 2007/10/19 05:55:13 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl,v 1.4 2007/03/20 02:48:49 wbeeler Exp $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl,v 1.5 2007/03/20 02:48:50 wbeeler Exp $
 Fix Names Transform: $Id: FixMifNames.xsl,v 1.8 2007/03/20 02:48:49 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.5 2007/10/19 05:55:13 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
  </xs:annotation>
  <xs:complexType name="MCCI_MT000200UV01.Acknowledgement">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="typeCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="expectedSequenceNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="messageWaitingNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="messageWaitingPriorityCode" type="CE" />
      <xs:element minOccurs="1" maxOccurs="1" name="targetMessage" nillable="true" type="MCCI_MT000200UV01.TargetMessage" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="acknowledgementDetail" nillable="true" type="MCCI_MT000200UV01.AcknowledgementDetail" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="MCCI_MT000200UV01.AcknowledgementDetail">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="location" type="ST" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="AcknowledgementDetailType" use="optional" />
  </xs:complexType>
  <xs:complexType name="MCCI_MT000200UV01.Agent">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="representedOrganization" nillable="true" type="MCCI_MT000200UV01.Organization" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassAgent" use="required" />
  </xs:complexType>
  <xs:complexType name="MCCI_MT000200UV01.AttentionLine">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="keyWordText" type="SC" />
      <xs:element minOccurs="0" maxOccurs="1" name="value" type="ANY" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="MCCI_MT000200UV01.Device">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="EN" />
      <xs:element minOccurs="0" maxOccurs="1" name="desc" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="existenceTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="telecom" type="TEL" />
      <xs:element minOccurs="0" maxOccurs="1" name="manufacturerModelName" type="SC" />
      <xs:element minOccurs="0" maxOccurs="1" name="softwareName" type="SC" />
      <xs:element minOccurs="0" maxOccurs="1" name="asAgent" nillable="true" type="MCCI_MT000200UV01.Agent" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asLocatedEntity" nillable="true" type="MCCI_MT000200UV01.LocatedEntity" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassDevice" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="MCCI_MT000200UV01.EntityRsp">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="EN" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="telecom" type="TEL" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassRoot" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="MCCI_MT000200UV01.LocatedEntity">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="location" nillable="true" type="MCCI_MT000200UV01.Place" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassLocatedEntity" use="required" />
  </xs:complexType>
  <xs:complexType name="MCCI_MT000200UV01.Message">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="creationTime" type="TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="securityText" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="versionCode" type="CS" />
      <xs:element minOccurs="1" maxOccurs="1" name="interactionId" type="II" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="profileId" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="processingCode" type="CS" />
      <xs:element minOccurs="1" maxOccurs="1" name="processingModeCode" type="CS" />
      <xs:element minOccurs="1" maxOccurs="1" name="acceptAckCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="attachmentText" type="ED" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="receiver" type="MCCI_MT000200UV01.Receiver" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="respondTo" nillable="true" type="MCCI_MT000200UV01.RespondTo" />
      <xs:element minOccurs="1" maxOccurs="1" name="sender" type="MCCI_MT000200UV01.Sender" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="attentionLine" nillable="true" type="MCCI_MT000200UV01.AttentionLine" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="acknowledgement" nillable="true" type="MCCI_MT000200UV01.Acknowledgement" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="MCCI_MT000200UV01.Organization">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="EN" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="telecom" type="TEL" />
      <xs:element minOccurs="0" maxOccurs="1" name="notificationParty" nillable="true" type="COCT_MT040203UV01.NotificationParty" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassOrganization" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="MCCI_MT000200UV01.Place">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="EN" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="telecom" type="TEL" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassPlace" use="required" />
    <xs:attribute fixed="INSTANCE" name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="MCCI_MT000200UV01.Receiver">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="telecom" type="TEL" />
      <xs:element minOccurs="1" maxOccurs="1" name="device" type="MCCI_MT000200UV01.Device" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="CommunicationFunctionType" use="required" />
  </xs:complexType>
  <xs:complexType name="MCCI_MT000200UV01.RespondTo">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="telecom" type="TEL" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="entityRsp" nillable="true" type="MCCI_MT000200UV01.EntityRsp" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="CommunicationFunctionType" use="required" />
  </xs:complexType>
  <xs:complexType name="MCCI_MT000200UV01.Sender">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="telecom" type="TEL" />
      <xs:element minOccurs="1" maxOccurs="1" name="device" type="MCCI_MT000200UV01.Device" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="CommunicationFunctionType" use="required" />
  </xs:complexType>
  <xs:complexType name="MCCI_MT000200UV01.TargetMessage">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="II" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
</xs:schema>