MARC.IHE.Xds/Service References/Registry/PRPA_IN201304UV02.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:mif="urn:hl7-org:v3/mif" xmlns="urn:hl7-org:v3" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd" />
  <xs:include schemaLocation="MCCI_MT000100UV01.xsd" />
  <xs:include schemaLocation="MFMI_MT700701UV01.xsd" />
  <xs:include schemaLocation="PRPA_MT201303UV02.xsd" />
  <xs:annotation>
    <xs:documentation>Source Information
     Rendered by: RoseTree 4.2.7
     Rendered on: 
This document was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 PubDB to MIF Transform: $RCSfile: PubDbXmlToMIF.xsl,v $ $Revision: 1.11 $ $Date: 2007/10/19 05:55:13 $
  Fix names transform: $Id: FixMifNames.xsl,v 1.8 2007/03/20 02:48:49 wbeeler Exp $
  HTML to MIF Markup transform: $Id: HtmlToMIFMarkup.xsl,v 1.4 2007/03/20 02:48:49 wbeeler Exp $
  Base transform: $Id: ConvertBase.xsl,v 1.5 2007/10/19 05:55:13 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $
 Generated using schema builder version: 3.1.6 and DynamicMifToXSD.xsl version: 1.4
 Dynamic MIF to Schema Transform: $Id: DynamicMifToXsd.xsl,v 1.12 2007/10/19 05:55:13 wbeeler Exp $
  Static MIF to Schema Transform: $Id: StaticMifToXsd.xsl,v 1.30 2007/12/06 05:50:08 wbeeler Exp $
  Package Id Conversion: $Id: TransformPackageIds.xsl,v 1.6 2007/03/20 02:48:49 wbeeler Exp $</xs:documentation>
  </xs:annotation>
  <xs:element name="PRPA_IN201304UV02">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="PRPA_IN201304UV02.MCCI_MT000100UV01.Message">
          <xs:attribute fixed="XML_1.0" name="ITSVersion" type="xs:string" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PRPA_IN201304UV02.MCCI_MT000100UV01.Message">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="creationTime" type="TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="securityText" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="versionCode" type="CS" />
      <xs:element minOccurs="1" maxOccurs="1" name="interactionId" type="II" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="profileId" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="processingCode" type="CS" />
      <xs:element minOccurs="1" maxOccurs="1" name="processingModeCode" type="CS" />
      <xs:element minOccurs="1" maxOccurs="1" name="acceptAckCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="attachmentText" type="ED" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="receiver" type="MCCI_MT000100UV01.Receiver" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="respondTo" nillable="true" type="MCCI_MT000100UV01.RespondTo" />
      <xs:element minOccurs="1" maxOccurs="1" name="sender" type="MCCI_MT000100UV01.Sender" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="attentionLine" nillable="true" type="MCCI_MT000100UV01.AttentionLine" />
      <xs:element minOccurs="1" maxOccurs="1" name="controlActProcess" type="PRPA_IN201304UV02.MFMI_MT700701UV01.ControlActProcess" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="PRPA_IN201304UV02.MFMI_MT700701UV01.ControlActProcess">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="priorityCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reasonCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="languageCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="overseer" nillable="true" type="MFMI_MT700701UV01.Overseer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="authorOrPerformer" nillable="true" type="MFMI_MT700701UV01.AuthorOrPerformer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dataEnterer" nillable="true" type="MFMI_MT700701UV01.DataEnterer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="informationRecipient" nillable="true" type="MFMI_MT700701UV01.InformationRecipient" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="subject" nillable="true" type="PRPA_IN201304UV02.MFMI_MT700701UV01.Subject1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reasonOf" nillable="true" type="MFMI_MT700701UV01.Reason" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassControlAct" use="required" />
    <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required" />
  </xs:complexType>
  <xs:complexType name="PRPA_IN201304UV02.MFMI_MT700701UV01.Subject1">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="registrationEvent" nillable="true" type="PRPA_IN201304UV02.MFMI_MT700701UV01.RegistrationEvent" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="SUBJ" name="typeCode" type="ActRelationshipType" use="required" />
    <xs:attribute default="false" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="PRPA_IN201304UV02.MFMI_MT700701UV01.RegistrationEvent">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="subject1" type="PRPA_IN201304UV02.MFMI_MT700701UV01.Subject2" />
      <xs:element minOccurs="0" maxOccurs="1" name="author" nillable="true" type="MFMI_MT700701UV01.Author2" />
      <xs:element minOccurs="1" maxOccurs="1" name="custodian" nillable="true" type="MFMI_MT700701UV01.Custodian" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inFulfillmentOf" nillable="true" type="MFMI_MT700701UV01.InFulfillmentOf" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="definition" nillable="true" type="MFMI_MT700701UV01.Definition" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="replacementOf" nillable="true" type="MFMI_MT700701UV01.ReplacementOf" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute fixed="REG" name="classCode" type="ActClass" use="required" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="required" />
  </xs:complexType>
  <xs:complexType name="PRPA_IN201304UV02.MFMI_MT700701UV01.Subject2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="patient" nillable="true" type="PRPA_MT201303UV02.Patient" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required" />
  </xs:complexType>
</xs:schema>